<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    @RenderSection("MetaSection", false)
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../assets/images/favicon.png">

    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/owl.carousel.min.css">

    <link href="~/assets/css/select2.css" rel="stylesheet" />
    <link href="https://www.digitalhospitality.org/Calendar/base/jquery.ui.all.css" rel="stylesheet">
    <link href="~/assets/css/newcalendar.css" rel="stylesheet" />

    <script src="~/assets/js/jquery-3.5.1.js"></script>
    <!-- Google Tag Manager -->
    <script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WC55WF5B');</script>
    <!-- End Google Tag Manager -->

    <script type="application/ld+json">
        {
        "@@context": "https://schema.org",
        "@@type": "Hotel",
        "name": "Back Forty Glamping",
        "image": "https://www.backfortyglamping.com/assets/images/forest-dome-aerial-view.webp",
        "@@id": "",
        "url": "",
        "telephone": "+1 519 377 4332",
        "address": {
        "@@type": "PostalAddress",
        "streetAddress": "Side Road 16",
        "addressLocality": "Meaford",
        "addressRegion": "ON",
        "postalCode": "N4L 1W5",
        "addressCountry": "CA"
        },
        "openingHoursSpecification": {
        "@@type": "OpeningHoursSpecification",
        "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
        "Sunday"
        ],
        "opens": "00:00",
        "closes": "23:59"
        },
        "sameAs": [
        "https://www.facebook.com/backfortyglamping",
        "https://www.instagram.com/backfortyglamping/"
        ]
        }
    </script>

    <script type="application/ld+json">
        {
        "@@context": "https://schema.org",
        "@@type": "FAQPage",
        "mainEntity": [{
        "@@type": "Question",
        "name": "What amenities are provided ?",
        "acceptedAnswer": {
        "@@type": "Answer",
        "text": "King size bed
        3-piece bathroom
        Kitchenette
        BBQ & propane
        Private fire pit
        Private hot tub
        Firewood & kindling (April-December)
        Heating/AC
        Wi-Fi
        Privacy fencing
        Heated floors (Meadow Domes)
        Linens
        Bathrobes/Towels
        Soap/shampoo/conditioner/body wash/lotion
        Makeup remover
        Hair dryer
        Basic cooking pots & utensils
        Mini fridge
        Electric hot plate
        Toaster oven
        Kettle & coffee press
        Specialty tea/coffee
        Milkettes/creamers
        Board games
        Snowshoes (December-March)
        Fan
        Sky light (Forest Domes)
        Mini bar (for purchase)
        Marshmallow sticks
        Salt, pepper and oil
        Heated mattress topper"
        }
        },{
        "@@type": "Question",
        "name": "What are your check-in and check-out times?",
        "acceptedAnswer": {
        "@@type": "Answer",
        "text": "Check-in is at 4:00 PM.
        Check-out is at 11:00 AM."
        }
        },{
        "@@type": "Question",
        "name": "What are your current rates ?",
        "acceptedAnswer": {
        "@@type": "Answer",
        "text": "Pricing starts at $385/night. Click here to book your stay at Back Forty Glamping."
        }
        },{
        "@@type": "Question",
        "name": "How do bookings work ?",
        "acceptedAnswer": {
        "@@type": "Answer",
        "text": "All 2026 dates are currently available for booking. Reservations require a two-night minimum stay with no check-in or check-outs on Saturdays. Leftover one-night stays are released monthly, so keep your eye out or subscribe to our mailing list to be notified about new date releases and one-night stays!"
        }
        },{
        "@@type": "Question",
        "name": "What is your cancellation policy?",
        "acceptedAnswer": {
        "@@type": "Answer",
        "text": "Please scroll down this page or click here to view our policies."
        }
        },{
        "@@type": "Question",
        "name": "Is there a waitlist ?",
        "acceptedAnswer": {
        "@@type": "Answer",
        "text": "Yes! You are welcome to join our mailing list where we update guests of any upcoming cancellations."
        }
        },{
        "@@type": "Question",
        "name": "Are Gift cards available ?",
        "acceptedAnswer": {
        "@@type": "Answer",
        "text": "Yes gift cards are the perfect wedding, birthday, & Christmas gift. Gift cards do not expire and can be purchased online by clicking here."
        }
        },{
        "@@type": "Question",
        "name": "Are Kids and/or pets allowed ?",
        "acceptedAnswer": {
        "@@type": "Answer",
        "text": "Unfortunately not. Our glamping experience is for two adults (18 or older) per dome."
        }
        },{
        "@@type": "Question",
        "name": "How far apart are the domes ?",
        "acceptedAnswer": {
        "@@type": "Answer",
        "text": "The forest domes are all about 70 feet apart. Please View Our Site Map for the layout of the property."
        }
        },{
        "@@type": "Question",
        "name": "Are all domes the same ?",
        "acceptedAnswer": {
        "@@type": "Answer",
        "text": "For the most part, all domes have the same amenities. The only difference between the forest domes and meadow domes is the view. The forest domes have seasonal skylights that are large in the winter and smaller in the spring, summer and fall for temperature regulation reasons."
        }
        },{
        "@@type": "Question",
        "name": "Do all the domes have a private hot tub ?",
        "acceptedAnswer": {
        "@@type": "Answer",
        "text": "Yep! Each dome has a private hot tub for your personal enjoyment!"
        }
        },{
        "@@type": "Question",
        "name": "Do all domes have access to the sauna ?",
        "acceptedAnswer": {
        "@@type": "Answer",
        "text": "Yes! Nestled among the trees is our electric cube sauna with panoramic views of the forest. There is an outdoor cold shower open seasonally from May-October. This is a communal amenity that can be enjoyed by any guest on site."
        }
        },{
        "@@type": "Question",
        "name": "Can I come check out the property ?",
        "acceptedAnswer": {
        "@@type": "Answer",
        "text": "Please do not enter or roam the property unless you are a guest currently staying during the time of your visit. This is to ensure privacy for the guests currently enjoying their stay."
        }
        },{
        "@@type": "Question",
        "name": "What should I bring ?",
        "acceptedAnswer": {
        "@@type": "Answer",
        "text": "Our domes are equipped with a comprehensive range of amenities for your comfort. However, for a complete experience, please bring personal essentials and items for outdoor activities, including hiking shoes, bug spray, swimwear, face masks (if needed), and slippers. Don't forget food, drinks, an extra cooler for storage, a good book, and extra layers of clothing to adapt to changing temperatures."
        }
        },{
        "@@type": "Question",
        "name": "How does check in work ?",
        "acceptedAnswer": {
        "@@type": "Answer",
        "text": "You will receive a welcome text on the day of check in when your dome is ready. It is self check in, meaning you will follow the instructions of your 2 day out email, use the unloading zone by your dome to unpack your things and then returning your car to the front parking lot. It is a 200m walk back to your dome from the parking lot."
        }
        },{
        "@@type": "Question",
        "name": "Is the water drinkable ?",
        "acceptedAnswer": {
        "@@type": "Answer",
        "text": "Yes it is! Our water is purified and there is a separate tap at the sink for drinking water."
        }
        },{
        "@@type": "Question",
        "name": "Do you  have cell service and wi-fi?",
        "acceptedAnswer": {
        "@@type": "Answer",
        "text": "Yes to both! Our vision for our guest’s glamping experience is for you to unplug, relax and enjoy your getaway to the absolute fullest. However, we do know that things come up, so we wanted our guests to have access to wifi as needed."
        }
        },{
        "@@type": "Question",
        "name": "Can we get delivery to the domes ?",
        "acceptedAnswer": {
        "@@type": "Answer",
        "text": "We are located only 10-15 minutes from local restaurants but due to the rural setting of Back Forty Glamping delivery is not common. Plan ahead and bring your food or check out our add-ons when making your reservation."
        }
        },{
        "@@type": "Question",
        "name": "How do add on and food packages work ?",
        "acceptedAnswer": {
        "@@type": "Answer",
        "text": "All our food add-ons are prepped ahead of time and placed in your dome upon arrival. Each meal comes with simple, one-step instructions if needed, allowing you to enjoy your meals at your own convenience while ensuring they taste fresh and hot! Nothing beats having an easy gourmet meal in the comfort of your dome."
        }
        },{
        "@@type": "Question",
        "name": "Is parking available ?",
        "acceptedAnswer": {
        "@@type": "Answer",
        "text": "Yes, free parking is available on site."
        }
        }]
        }
    </script>

</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WC55WF5B"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <div id="mainWrapper" class="bodypx">
        @Html.Partial("~/Views/Shared/_PartialHeader.cshtml")
        @RenderBody()
        @Html.Partial("~/Views/Shared/_PartialFooter.cshtml")
    </div>
    <script src="~/assets/js/select2.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js" defer></script>
    <script src="~/assets/js/custom.js" defer></script>
    <script src="https://www.digitalhospitality.org/Calendar/JS/jquery.ui.all.js"></script>
    <script src="~/assets/js/booknow.js"></script>
    <script src="~/assets/js/Client.js"></script>

    <script>
        $(document).ready(function () {
            $(".select2").select2({ minimumResultsForSearch: -1 });
        });
    </script>
    <script>
        //--------ToTop------------//
        $(window).scroll(function () {
            if ($(this).scrollTop() != 0) {
                $('#toTop').fadeIn();
            } else {
                $('#toTop').fadeOut();
            }
        });

        $('#toTop').click(function () {
            $('body,html').animate({ scrollTop: 0 }, 1500);
        });

        var path = document.querySelector('#star-path');
        var pathLength = path.getTotalLength();
        path.style.strokeDasharray = pathLength + ' ' + pathLength;
        path.style.strokeDashoffset = pathLength;
        path.getBoundingClientRect();
        window.addEventListener("scroll", function (e) {
            var scrollPercentage = (document.documentElement.scrollTop + document.body.scrollTop) / (document.documentElement.scrollHeight - document.documentElement.clientHeight);
            var drawLength = pathLength * scrollPercentage;
            path.style.strokeDashoffset = pathLength - drawLength;
            if (scrollPercentage >= 0.99) {
                path.style.strokeDasharray = "none";
            } else {
                path.style.strokeDasharray = pathLength + ' ' + pathLength;
            }
        });



    </script>


    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            // --- Configuration for #owl-demo1 ---
            const owl1 = $("#owl-demo1");

            owl1.owlCarousel({
                center: false,
                loop: true,
                nav: false,
                dots: true,
                margin: 40,
                responsive: {
                    200: {
                        items: 1,
                        margin: 10
                    },
                    767: {
                        items: 1.3
                    },
                    1200: {
                        items: 2.2
                    }
                },

                // --- Accessibility Callbacks Start ---
                onInitialized: function (event) {
                    // 'this' inside the callback refers to the Owl Carousel instance,
                    // which can be used to reference the element (event.target)
                    const owlElement = $(event.target);

                    $('.owl-dot', owlElement).each(function (index) {
                        let slideNumber = index + 1;

                        $(this).attr('aria-label', 'Go to slide ' + slideNumber);

                        if ($(this).hasClass('active')) {
                            $(this).attr('aria-current', 'true');
                        }
                    });
                },

                onChanged: function (event) {
                    const owlElement = $(event.target);

                    $('.owl-dot', owlElement).removeAttr('aria-current');

                    $('.owl-dot.active', owlElement).attr('aria-current', 'true');
                }
                // --- Accessibility Callbacks End ---
            });

        });
    </script>
    <script type="text/javascript">
        jQuery(document).ready((function ($) {
            const owl = $("#localarea-silder");

            owl.owlCarousel({
                center: false,
                loop: true,
                nav: false,
                dots: true,
                dotsEach: 1,
                margin: 40,
                responsive: {
                    200: {
                        items: 1,
                        margin: 10
                    },
                    767: {
                        items: 2
                    },
                    1200: {
                        items: 2.6
                    }
                },
                onInitialized: ensureExtraDot,
                onChanged: ensureExtraDot,
                onRefreshed: ensureExtraDot
            });

            function ensureExtraDot(event) {
                const $dots = $(event.target).find('.owl-dots');
                if ($dots.length && !$dots.find('.extra-dot').length) {
                    $dots.append('<span class="extra-dot"></span>');
                }
            }

            /* ✅ ONLY THIS SLIDER */
            owl.on('click', '.extra-dot', function () {
                owl.trigger('next.owl.carousel', [600]);
            });
        }));
    </script>
    <script type="text/javascript">
        jQuery(document).ready((function ($) {
            const owl = $("#localarea-silder2");

            owl.owlCarousel({
                center: false,
                loop: true,
                nav: false,
                dots: true,
                dotsEach: 1,
                margin: 40,
                responsive: {
                    200: {
                        items: 1,
                        margin: 10
                    },
                    767: {
                        items: 1
                    },
                    1200: {
                        items: 1
                    }
                },
                onInitialized: ensureExtraDot,
                onChanged: ensureExtraDot,
                onRefreshed: ensureExtraDot
            });

            function ensureExtraDot(event) {
                const $dots = $(event.target).find('.owl-dots');
                if ($dots.length && !$dots.find('.extra-dot').length) {
                    $dots.append('<span class="extra-dot"></span>');
                }
            }

            /* ✅ ONLY THIS SLIDER */
            owl.on('click', '.extra-dot', function () {
                owl.trigger('next.owl.carousel', [600]);
            });
        }));
    </script>
</body>
</html>
