@{
    ViewBag.Title = "Concierge";
    Layout = "~/Views/Shared/_LayoutEUMaster.cshtml";
}

@section MetaSection{
    <title> How To Videos | Back Forty Glamping</title>
    <meta name="description" content="When at Back Forty Glamping please watch these videos for step by step instructions of the BBQ, heater, hot tub and other guides" />
}
<span id="MenuId" style="display: none;">concierge</span>

<main>
    @*<section title="Couple in Hammock at Back Forty Glamping" class="hero-banner" style="background: url('../../assets/images/couple-in-hammock-at-back-forty-glamping.webp');"></section>
        <div class="banner-bottomdesign">
            <img src="../../assets/images/banner-bottomdesign.webp" class="img-fluid w-100 h-100" alt="banner-bottomdesign" loading="lazy">
        </div>*@

    <section class="mainsec amenities-mainsec">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-heading">
                        <h1>How To Guides </h1>
                        <p>
                            Click on the relevant topic for a short video of how the different features around the dome work! Learn to use the dome's amenities with ease.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="faq-sec mb-5 pb-lg-4">
        @*<div class="container-fluid ">
            <div class="" id="videos">
                <div class="row">
                    <div class="col-md-6">
                        <div class="vimeo-wrapper">
                            <div class="video-thumbnail" style="background-image:url('assets/images/bbq-guide-video-thumbnail.webp');">
                                <div class="custom-play">▶</div>
                            </div>
                            <iframe class="vimeoPlayer" src="https://player.vimeo.com/video/1173596900?autoplay=0&loop=1&controls=0&title=0&byline=0&portrait=0&muted=0" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="display:none;"></iframe>
                            <button class="muteBtn" style="display:none; position:absolute; bottom:15px; right:15px; background:none; color:white; border:none; padding:8px 14px; cursor:pointer; border-radius:6px; z-index:1;"></button>
                        </div>
                        <div class="video-title ">
                            <h2>BBQ Guide</h2>
                        </div>
                    </div>
                    <div class="col-md-6 mt-md-0 mt-4">
                        <div class="vimeo-wrapper">
                            <div class="video-thumbnail" style="background-image:url('assets/images/cooling-heating-guide-video-thumbnail.webp');">
                                <div class="custom-play">▶</div>
                            </div>
                            <iframe class="vimeoPlayer" src="https://player.vimeo.com/video/1173597699?autoplay=0&loop=1&controls=0&title=0&byline=0&portrait=0&muted=0" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="display:none;"></iframe>
                            <button class="muteBtn" style="display:none; position:absolute; bottom:15px; right:15px; background:none; color:white; border:none; padding:8px 14px; cursor:pointer; border-radius:6px; z-index:1;"> </button>
                        </div>
                        <div class="video-title ">
                            <h2>
                                Cooling Heating Guide
                            </h2>
                        </div>
                    </div>
                    <div class="col-md-6 mt-md-0 mt-4">
                        <div class="vimeo-wrapper">
                            <div class="video-thumbnail" style="background-image:url('assets/images/fire-starting-guide-video-thumbnail.webp');">
                                <div class="custom-play">▶</div>
                            </div>
                            <iframe class="vimeoPlayer" src="https://player.vimeo.com/video/1173598893?autoplay=0&loop=1&controls=0&title=0&byline=0&portrait=0&muted=0" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="display:none;"></iframe>
                            <button class="muteBtn" style="display:none; position:absolute; bottom:15px; right:15px; background:none; color:white; border:none; padding:8px 14px; cursor:pointer; border-radius:6px; z-index:1;"> </button>
                        </div>
                        <div class="video-title ">
                            <h2>
                                Fire Starting Guide
                            </h2>
                        </div>
                    </div>
                    <div class="col-md-6 mt-md-0 mt-4">
                        <div class="vimeo-wrapper">
                            <div class="video-thumbnail" style="background-image:url('assets/images/forest-hot-tub-guide-video-thumbnail.webp');">
                                <div class="custom-play">▶</div>
                            </div>
                            <iframe class="vimeoPlayer" src="https://player.vimeo.com/video/1173600112?autoplay=0&loop=1&controls=0&title=0&byline=0&portrait=0&muted=0" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="display:none;"></iframe>
                            <button class="muteBtn" style="display:none; position:absolute; bottom:15px; right:15px; background:none; color:white; border:none; padding:8px 14px; cursor:pointer; border-radius:6px; z-index:1;"> </button>
                        </div>
                        <div class="video-title ">
                            <h2>
                                Forest Hot Tub Guide
                            </h2>
                        </div>
                    </div>
                    <div class="col-md-6 mt-md-0 mt-4">
                        <div class="vimeo-wrapper">
                            <div class="video-thumbnail" style="background-image:url('assets/images/meadow-hot-tub-guide-video-thumbnail.webp');">
                                <div class="custom-play">▶</div>
                            </div>
                            <iframe class="vimeoPlayer" src="https://player.vimeo.com/video/1173601096?autoplay=0&loop=1&controls=0&title=0&byline=0&portrait=0&muted=0" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="display:none;"></iframe>
                            <button class="muteBtn" style="display:none; position:absolute; bottom:15px; right:15px; background:none; color:white; border:none; padding:8px 14px; cursor:pointer; border-radius:6px; z-index:1;">  </button>
                        </div>
                        <div class="video-title">
                            <h2>
                                Meadow Hot Tub Guide
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="faqbg mb-0">
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed btn mb-4" data-bs-toggle="collapse" href="#collapse1" aria-expanded="false">BBQ Guide</a>
                                </div>
                                <div id="collapse1" class="collapse" data-bs-parent="#accordion" style="">
                                    <div class="card-body">
                                        <div class="vimeo-wrapper">
                                            <div class="video-thumbnail" style="background-image:url('assets/images/bbq-guide-video-thumbnail.webp');">
                                                <div class="custom-play">▶</div>
                                            </div>
                                            <iframe class="vimeoPlayer" src="https://player.vimeo.com/video/1173596900?autoplay=0&loop=1&controls=0&title=0&byline=0&portrait=0&muted=0" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="display:none;"></iframe>
                                            <button class="muteBtn" style="display:none; position:absolute; bottom:15px; right:15px; background:none; color:white; border:none; padding:8px 14px; cursor:pointer; border-radius:6px; z-index:1;"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed btn mb-4" data-bs-toggle="collapse" href="#collapse2" aria-expanded="false">
                                        Cooling Heating Guide
                                    </a>
                                </div>
                                <div id="collapse2" class="collapse" data-bs-parent="#accordion">
                                    <div class="card-body">
                                        <div class="vimeo-wrapper">
                                            <div class="video-thumbnail" style="background-image:url('assets/images/cooling-heating-guide-video-thumbnail.webp');">
                                                <div class="custom-play">▶</div>
                                            </div>
                                            <iframe class="vimeoPlayer" src="https://player.vimeo.com/video/1173597699?autoplay=0&loop=1&controls=0&title=0&byline=0&portrait=0&muted=0" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="display:none;"></iframe>
                                            <button class="muteBtn" style="display:none; position:absolute; bottom:15px; right:15px; background:none; color:white; border:none; padding:8px 14px; cursor:pointer; border-radius:6px; z-index:1;"> </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed btn mb-4" data-bs-toggle="collapse" href="#collapse3" aria-expanded="false"> Fire Starting Guide</a>
                                </div>
                                <div id="collapse3" class="collapse" data-bs-parent="#accordion">
                                    <div class="card-body">
                                        <div class="vimeo-wrapper">
                                            <div class="video-thumbnail" style="background-image:url('assets/images/fire-starting-guide-video-thumbnail.webp');">
                                                <div class="custom-play">▶</div>
                                            </div>
                                            <iframe class="vimeoPlayer" src="https://player.vimeo.com/video/1173598893?autoplay=0&loop=1&controls=0&title=0&byline=0&portrait=0&muted=0" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="display:none;"></iframe>
                                            <button class="muteBtn" style="display:none; position:absolute; bottom:15px; right:15px; background:none; color:white; border:none; padding:8px 14px; cursor:pointer; border-radius:6px; z-index:1;"> </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed btn mb-4" data-bs-toggle="collapse" href="#collapse4" aria-expanded="false">
                                        Forest Hot Tub Guide
                                    </a>
                                </div>
                                <div id="collapse4" class="collapse" data-bs-parent="#accordion">
                                    <div class="card-body">
                                        <div class="vimeo-wrapper">
                                            <div class="video-thumbnail" style="background-image:url('assets/images/forest-hot-tub-guide-video-thumbnail.webp');">
                                                <div class="custom-play">▶</div>
                                            </div>
                                            <iframe class="vimeoPlayer" src="https://player.vimeo.com/video/1173600112?autoplay=0&loop=1&controls=0&title=0&byline=0&portrait=0&muted=0" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="display:none;"></iframe>
                                            <button class="muteBtn" style="display:none; position:absolute; bottom:15px; right:15px; background:none; color:white; border:none; padding:8px 14px; cursor:pointer; border-radius:6px; z-index:1;"> </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed btn mb-4" data-bs-toggle="collapse" href="#collapse5" aria-expanded="false">
                                        Meadow Hot Tub Guide
                                    </a>
                                </div>
                                <div id="collapse5" class="collapse" data-bs-parent="#accordion">
                                    <div class="card-body">
                                        <div class="vimeo-wrapper">
                                            <div class="video-thumbnail" style="background-image:url('assets/images/meadow-hot-tub-guide-video-thumbnail.webp');">
                                                <div class="custom-play">▶</div>
                                            </div>
                                            <iframe class="vimeoPlayer" src="https://player.vimeo.com/video/1173601096?autoplay=0&loop=1&controls=0&title=0&byline=0&portrait=0&muted=0" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="display:none;"></iframe>
                                            <button class="muteBtn" style="display:none; position:absolute; bottom:15px; right:15px; background:none; color:white; border:none; padding:8px 14px; cursor:pointer; border-radius:6px; z-index:1;">  </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>


<script src="https://player.vimeo.com/api/player.js"></script>

<script>
    document.querySelectorAll('.vimeo-wrapper').forEach(wrapper => {

        const thumb = wrapper.querySelector('.video-thumbnail');
        const iframe = wrapper.querySelector('.vimeoPlayer');
        const muteBtn = wrapper.querySelector('.muteBtn');

        let player = new Vimeo.Player(iframe);
        let isPlaying = false;
        let isMuted = false;
        
        player.on('pause', () => {
            isPlaying = false;
            thumb.style.display = 'block';
        });
        
        wrapper.addEventListener('click', () => {

            if (thumb.style.display !== 'none') {
                thumb.style.display = 'none';
                iframe.style.display = 'block';
                muteBtn.style.display = 'block';
            }

            if (isPlaying) {
                player.pause();
            } else {
                player.play().then(() => {
                    player.setMuted(false);
                    player.setVolume(1);
                    isPlaying = true;
                    thumb.style.display = 'none';
                }).catch(() => {
                    player.setMuted(true);
                    isMuted = true;
                    isPlaying = true;
                });
            }
        });
        
        muteBtn.addEventListener('click', (e) => {
            e.stopPropagation();
            isMuted = !isMuted;
            player.setMuted(isMuted);
        });

    });
</script>