@{
    ViewBag.Title = "dining";
    Layout = "~/Views/Shared/_LayoutEUMaster.cshtml";
}

@section MetaSection{
<title>Glamping Dining Options | Fresh, Local & Chef-Crafted Meals</title>
    <meta name="description" content="Savor the flavors of South Georgian Bay while glamping at Back Forty. From rustic cafes and local bakeries to gourmet restaurants and wineries." />
}
    <span id="MenuId" style="display: none;">dining</span>

    <main>

        <section title="Meaford Wineries" class="hero-banner" style="background: url('../../assets/images/wineries-in-meaford-south-georgian-bay.webp');"></section>
        <div class="banner-bottomdesign">
            <img src="../../assets/images/banner-bottomdesign.webp" class="img-fluid w-100 h-100" alt="banner-bottomdesign" loading="lazy">
        </div>

        <section class="mainsec amenities-mainsec">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-heading">
                            <h1>Restaurants, Wineries, <br /> Cafe's and More</h1>
                            <p>Meaford and the South Georgian Bay area have plenty of dining options for you to enjoy. From casual cafes and friendly pubs to sophisticated restaurants and local wineries, you can find a variety of places to enjoy the region’s flavors.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="addons-sec amenitiesslider">
            <div class="container-fluid">
                <div class="row amenities-desk-row">
                    <div class="col-md-6 ">
                        <div class="amenities-box d-flex flex-column h-100">
                            <div class="addons-img">
                                <img src="../../assets/images/coffin-ridge-winery.webp" class="img-fluid" alt="Coffin Ridge Winery" title="Coffin Ridge Winery" loading="lazy">
                            </div>
                            <div class="addons-desc flex-grow-1 d-flex flex-column">
                                <h3>Coffin Ridge Winery</h3>
                                <p>Coffin Ridge Winery is a renowned winery located in the heart of the Grey County region in Ontario, Canada. It is situated atop the Niagara Escarpment, offering breathtaking views of Georgian Bay and the surrounding countryside. The winery is known for its unique wines crafted from cold-hardy grape varieties.</p>
                                <a href="https://www.coffinridge.ca/" target="_blank" class="btn learnmore mt-auto" title="Learn More">Learn more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-md-0 mt-5">
                        <div class="amenities-box d-flex flex-column h-100">
                            <div class="addons-img">
                                <img src="../../assets/images/georgian-hills.webp" class="img-fluid" title="Georgian Hills Vineyards" alt="Georgian Hills Vineyards" loading="lazy">
                            </div>
                            <div class="addons-desc flex-grow-1 d-flex flex-column">
                                <h3>Georgian Hills Vineyards</h3>
                                <p>Known for its commitment to producing high-quality wines, Georgian Hills Vineyards specializes in cool-climate varietals such as Chardonnay, Pinot Gris, and Gamay Noir. The winery’s picturesque location offers stunning views of the Niagara Escarpment, creating an inviting atmosphere for wine tastings, tours, and events.</p>
                                <a href="https://georgianhillsvineyards.ca/" target="_blank" class="btn mt-auto learnmore" title="Learn More">Learn more</a>
                            </div>
                        </div>
                    </div>
                   
                    <div class="col-md-6 mt-md-0 mt-5">
                        <div class="amenities-box d-flex flex-column h-100">
                            <div class="addons-img">
                                <img src="../../assets/images/station87.webp" class="img-fluid" title="Station 87" alt="Station 87" loading="lazy">
                            </div>
                            <div class="addons-desc flex-grow-1 d-flex flex-column">
                                <h3>Station 87</h3>
                                <p>Station 87 is located in the Meaford Firehall. Join us on the main level or upper-level dining room where you can enjoy our menu inspired by seasonal flavours. Join us on the rooftop patio, where you can enjoy panoramic views of Downtown Meaford. For more intimate gatherings, our private wine cellar offers a unique experience. Our Market side evokes a European marketplace. Grab an espresso and a sandwich made on our fresh bread while exploring all of the goods</p>
                                <a href="https://station87.ca/" target="_blank" class="btn learnmore mt-auto" title="Learn More">Learn more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-md-0 mt-5">
                        <div class="amenities-box d-flex flex-column h-100">
                            <div class="addons-img">
                                <img src="../../assets/images/fabricca.webp" class="img-fluid" title="Fabricca" alt="Fabricca" loading="lazy">
                            </div>
                            <div class="addons-desc flex-grow-1 d-flex flex-column">
                                <h3>Fabricca</h3>
                                <p>Experience the quality of Fabbrica Thornbury’s regional Italian cuisine. Our menu features a diverse offering that is carefully curated to your taste. From the inviting dining room rooted by a wood-burning pizza oven to a buzzing patio, Fabbrica Thornbury is a rural gourmet retreat.</p>
                                <a href="https://mcewangroup.ca/fabbrica-thornbury/" target="_blank" class="btn learnmore mt-auto" title="Learn More">Learn more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-md-0 mt-5">
                        <div class="amenities-box d-flex flex-column h-100">
                            <div class="addons-img">
                                <img src="../../assets/images/the-dam-pub.webp" class="img-fluid" title="The Dam Pub" alt="The Dam Pub" loading="lazy">
                            </div>
                            <div class="addons-desc flex-grow-1 d-flex flex-column">
                                <h3>The Dam Pub</h3>
                                <p>The Dam Pub offers a diverse menu featuring classic pub fare with a unique twist. Visitors can enjoy a wide selection of craft beers, wines, and spirits while taking in the cozy ambiance of the pub’s interior or relaxing on the outdoor patio. The Dam Pub’s friendly staff and welcoming environment make it a favorite destination for locals and tourists.</p>
                                <a href="https://thedampub.ca/" target="_blank" class="btn learnmore mt-auto" title="Learn More">Learn more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-md-0 mt-5">
                        <div class="amenities-box d-flex flex-column h-100">
                            <div class="addons-img">
                                <img src="../../assets/images/the-port-tavern.webp" class="img-fluid" title="The Port Tavern" alt="The Port Tavern" loading="lazy">
                            </div>
                            <div class="addons-desc flex-grow-1 d-flex flex-column">
                                <h3>The Port Tavern</h3>
                                <p>The Port Tavern Restaurant & Bar in Thornbury, Ontario, is your go-to for a classic blend of rugged tavern vibes and high-end dining., Crafted by the legendary Celebrity Chef Mark McEwan. Whether you’re basking on the 100+ seat patio or warming up by the fireplace during cooler months, it’s the perfect spot for every occasion.</p>
                                <a href="https://mcewangroup.ca/the-port-tavern/" target="_blank" class="btn learnmore mt-auto" title="Learn More">Learn more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-md-0 mt-5">
                        <div class="amenities-box d-flex flex-column h-100">
                            <div class="addons-img">
                                <img src="../../assets/images/casero.webp" class="img-fluid" title="Casero" alt="Casero" loading="lazy">
                            </div>
                            <div class="addons-desc flex-grow-1 d-flex flex-column">
                                <h3>Casero</h3>
                                <p>Casero serves fresh Mexican food! They have two locations. Visit Casero Taco Bus in Sauble Beach, serving fresh tacos and margaritas from a vintage double-decker bus or relax at Casero Kitchen Table in Owen Sound on their licensed patio & full service dining room. Vegan and gluten free options are available.</p>
                                <a href="https://caserofood.ca/" target="_blank" class="btn learnmore mt-auto" title="Learn More">Learn more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-md-0 mt-5">
                        <div class="amenities-box d-flex flex-column h-100">
                            <div class="addons-img">
                                <img src="../../assets/images/teds-range-road-diner.webp" class="img-fluid" title="Ted’s Range Road Diner" alt="Ted’s Range Road Diner" loading="lazy">
                            </div>
                            <div class="addons-desc flex-grow-1 d-flex flex-column">
                                <h3>Ted’s Range Road Diner</h3>
                                <p>Ted’s Range Road Diner was established in 1987 by Ted and Kate Lye. Ted serves as the head chef, ensuring each meal is prepared with care. The diner offers a variety of dishes including wild game, seafood, and traditional options like prime rib. Live entertainment is featured on weekends, and breakfast is served daily.</p>
                                <a href="https://www.facebook.com/TedsRangeRoadDiner/" target="_blank" class="btn learnmore mt-auto" title="Learn More">Learn more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-md-0 mt-5">
                        <div class="amenities-box d-flex flex-column h-100">
                            <div class="addons-img">
                                <img src="../../assets/images/mudtown-station.webp" class="img-fluid" title="Mudtown Station" alt="Mudtown Station" loading="lazy">
                            </div>
                            <div class="addons-desc flex-grow-1 d-flex flex-column">
                                <h3>Mudtown Station</h3>
                                <p>Mudtown Station, located in Owen Sound near Meaford, Ontario, occupies a beautifully restored historic train station. Offering a varied menu of locally sourced gastropub-style dishes and an extensive craft beer selection, it caters to diverse tastes. With its welcoming atmosphere and quality cuisine, Mudtown Station is a popular choice for locals.</p>
                                <a href="https://www.mudtownstation.ca/" target="_blank" class="btn learnmore mt-auto" title="Learn More">Learn more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-md-0 mt-5">
                        <div class="amenities-box d-flex flex-column h-100">
                            <div class="addons-img">
                                <img src="../../assets/images/hearts-tavern.webp" class="img-fluid" title="Heart’s Tavern" alt="Heart’s Tavern" loading="lazy">
                            </div>
                            <div class="addons-desc flex-grow-1 d-flex flex-column">
                                <h3>Heart’s Tavern</h3>
                                <p>Heart’s Tavern, located in the village of Kimberley in the Beaver Valley, is a French and Southern European roadside tavern. The menu changes daily, with lots of seasonal and local produce, dry aged meat, seafood and an extensive wine list. Open year round, with two patios and our own garden in the summetime to enjoy the best of the scenic beauty the valley has to offer. Heart’s has a beautiful wine cellar with a wood burning stove for family dinners.</p>
                                <a href="https://heartsgreycounty.ca/" target="_blank" class="btn learnmore mt-auto" title="Learn More">Learn more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-md-0 mt-5">
                        <div class="amenities-box d-flex flex-column h-100">
                            <div class="addons-img">
                                <img src="../../assets/images/marilynne-restaurant.webp" class="img-fluid" title="Marilynne Restaurant" alt="Marilynne Restaurant" loading="lazy">
                            </div>
                            <div class="addons-desc flex-grow-1 d-flex flex-column">
                                <h3>Marilynne Restaurant</h3>
                                <p>Located in the heart of Markdale, Marilynne Restaurant is inspired by fond memories of family gatherings. Marilynne’s embodies the values of simplicity and connection to the land - fresh, nourishing, and made with love. Committed to farm-to-table dining, both in the restaurant and at home, Marilynne restaurant also offers a boutique marketplace featuring locally sourced goods.</p>
                                <a href="https://www.marilynnerestaurant.com/" target="_blank" class="btn learnmore mt-auto" title="Learn More">Learn more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-md-0 mt-5">
                        <div class="amenities-box d-flex flex-column h-100">
                            <div class="addons-img">
                                <img src="../../assets/images/down-home.webp" class="img-fluid" title="Down Home" alt="Down Home" loading="lazy">
                            </div>
                            <div class="addons-desc flex-grow-1 d-flex flex-column">
                                <h3>Down Home</h3>
                                <p>Down Home Farmhouse restaurant can be found in the rolling hills of Grey Highlands. Join them on Friday or Saturday evenings for an intimate 10 course meal showcasing the best of local, seasonal and foraged edibles. They also offer a wine pairing to compliment the meal, as well as a selection of local beer, cider and non-alcoholic options. Reservations are required - visit their website to book.</p>
                                <a href="https://downhomerestaurant.com/" target="_blank" class="btn learnmore mt-auto" title="Learn More">Learn more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-md-0 mt-5">
                        <div class="amenities-box d-flex flex-column h-100">
                            <div class="addons-img">
                                <img src="../../assets/images/gio-and-frans.webp" class="img-fluid" title="Gio and Frans" alt="Gio and Frans" loading="lazy">
                            </div>
                            <div class="addons-desc flex-grow-1 d-flex flex-column">
                                <h3>Gio and Frans</h3>
                                <p>Pop in to Franny’s for some Southern Italian inspired home cooking. A love-based establishment with a daily ever evolving menu. Also enjoy private imported wines, sprits, and frankly the most fun you’ll have on the Meaford strip!</p>
                                <a href="https://www.facebook.com/gioandfrans/" target="_blank" class="btn learnmore mt-auto" title="Learn More">Learn more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-md-0 mt-5">
                        <div class="amenities-box d-flex flex-column h-100">
                            <div class="addons-img">
                                <img src="../../assets/images/shannys-kitchen.webp" class="img-fluid" title="Shanny’s Kitchen" alt="Shanny’s Kitchen" loading="lazy">
                            </div>
                            <div class="addons-desc flex-grow-1 d-flex flex-column">
                                <h3>Shanny’s Kitchen</h3>
                                <p>Located in Owen Sound’s River District, induldge yourself in upscale cuisine, inspired by Chef Shannon MacDougall’s lifelong passion for quality ingredients and culinary arts.</p>
                                <a href="https://www.shannyskitchen.com/" target="_blank" class="btn learnmore mt-auto" title="Learn More">Learn more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-md-0 mt-5">
                        <div class="amenities-box d-flex flex-column h-100">
                            <div class="addons-img">
                                <img src="../../assets/images/savvy-co.webp" class="img-fluid" title="Savvy Co" alt="Savvy Co" loading="lazy">
                            </div>
                            <div class="addons-desc flex-grow-1 d-flex flex-column">
                                <h3>Savvy Co</h3>
                                <p>Your go-to destination for everything from a delicious morning latte, an afternoon snack and refreshing beverage or enjoying vinyl beats or live tunes.</p>
                                <a href="https://www.backfortyglamping.com/dining-options" target="_blank" class="btn learnmore mt-auto" title="Learn More">Learn more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-md-0 mt-5">
                        <div class="amenities-box d-flex flex-column h-100">
                            <div class="addons-img">
                                <img src="../../assets/images/mcgintys-cafe.webp" class="img-fluid" title="McGinty’s Cafe" alt="McGinty’s Cafe" loading="lazy">
                            </div>
                            <div class="addons-desc flex-grow-1 d-flex flex-column">
                                <h3>McGinty’s Cafe</h3>
                                <p>Woman owned and operated cafe in the heart of Meaford! Offering a large selection of handcrafted beverages, sweet treats & delicious eats. We carry a variety of gluten free options and are continuing to grow our vegan options.</p>
                                <a href="https://www.facebook.com/McGintysCafe/?_rdr" target="_blank" class="btn learnmore mt-auto" title="Learn More">Learn more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-md-0 mt-5">
                        <div class="amenities-box d-flex flex-column h-100">
                            <div class="addons-img">
                                <img src="../../assets/images/thornbury-bakery-cafe.webp" class="img-fluid" title="Thornbury Bakery Café" alt="Thornbury Bakery Café" loading="lazy">
                            </div>
                            <div class="addons-desc flex-grow-1 d-flex flex-column">
                                <h3>Thornbury Bakery Cafe</h3>
                                <p>The Thornbury Bakery Café has been a landmark on the main street in Thornbury since 1901. Originally known for our Chelsea Buns, Cinnamon Buns, Chop Suey Buns and Butter tarts, our bakery is now known for our full breakfast and lunch menu items, specialty gluten-free and keto breads, and so much more. Our baker’s start in the very early hours of the night producing everything from scratch, 7 days a week.</p>
                                <a href="https://www.thornburybakerycafe.com/" target="_blank" class="btn learnmore mt-auto" title="Learn More">Learn more</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row amenities-mob-row">
                    <div class="col-md-12">
                        <div id="demos">
                            <div id="owl-demo1" class="owl-carousel owl-theme">
                                <div class="item">
                                    <div class="amenities-box">
                                        <div class="addons-img">
                                            <img src="../../assets/images/coffin-ridge-winery.webp" class="img-fluid" alt=" Coffin Ridge Winery" title=" Coffin Ridge Winery" loading="lazy">
                                        </div>
                                        <div class="addons-desc">
                                            <h3>Coffin Ridge Winery</h3>
                                            <p>Coffin Ridge Winery is a renowned winery located in the heart of the Grey County region in Ontario, Canada. It is situated atop the Niagara Escarpment, offering breathtaking views of Georgian Bay and the surrounding countryside. The winery is known for its unique wines crafted from cold-hardy grape varieties.</p>
                                            <a href="https://www.coffinridge.ca/" target="_blank" class="btn learnmore" title="Learn More">Learn more</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="amenities-box">
                                        <div class="addons-img">
                                            <img src="../../assets/images/georgian-hills.webp" class="img-fluid" title="Georgian Hills Vineyards" alt="Georgian Hills Vineyards" loading="lazy">
                                        </div>
                                        <div class="addons-desc">
                                            <h3>Georgian Hills Vineyards</h3>
                                            <p>Known for its commitment to producing high-quality wines, Georgian Hills Vineyards specializes in cool-climate varietals such as Chardonnay, Pinot Gris, and Gamay Noir. The winery’s picturesque location offers stunning views of the Niagara Escarpment, creating an inviting atmosphere for wine tastings, tours, and events.</p>
                                            <a href="https://georgianhillsvineyards.ca/" target="_blank" class="btn learnmore" title="Learn More">Learn more</a>
                                        </div>
                                    </div>
                                </div>

                                

                                <div class="item">
                                    <div class="amenities-box">
                                        <div class="addons-img">
                                            <img src="../../assets/images/station87.webp" class="img-fluid" title="Station 87" alt="Station 87" loading="lazy">
                                        </div>
                                        <div class="addons-desc">
                                            <h3>Station 87</h3>
                                            <p>Station 87 is located in the Meaford Firehall. Join us on the main level or upper-level dining room where you can enjoy our menu inspired by seasonal flavours. Join us on the rooftop patio, where you can enjoy panoramic views of Downtown Meaford. For more intimate gatherings, our private wine cellar offers a unique experience. Our Market side evokes a European marketplace. Grab an espresso and a sandwich made on our fresh bread while exploring all of the goods</p>
                                            <a href="https://station87.ca/" target="_blank" class="btn learnmore" title="Learn More">Learn more</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="amenities-box">
                                        <div class="addons-img">
                                            <img src="../../assets/images/fabricca.webp" class="img-fluid" title="Fabricca" alt="Fabricca" loading="lazy">
                                        </div>
                                        <div class="addons-desc">
                                            <h3>Fabricca</h3>
                                            <p>Experience the quality of Fabbrica Thornbury’s regional Italian cuisine. Our menu features a diverse offering that is carefully curated to your taste. From the inviting dining room rooted by a wood-burning pizza oven to a buzzing patio, Fabbrica Thornbury is a rural gourmet retreat.</p>
                                            <a href="https://mcewangroup.ca/fabbrica-thornbury/" target="_blank" class="btn learnmore" title="Learn More">Learn more</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="amenities-box">
                                        <div class="addons-img">
                                            <img src="../../assets/images/the-dam-pub.webp" class="img-fluid" title="The Dam Pub" alt="The Dam Pub" loading="lazy">
                                        </div>
                                        <div class="addons-desc">
                                            <h3>The Dam Pub</h3>
                                            <p>The Dam Pub offers a diverse menu featuring classic pub fare with a unique twist. Visitors can enjoy a wide selection of craft beers, wines, and spirits while taking in the cozy ambiance of the pub’s interior or relaxing on the outdoor patio. The Dam Pub’s friendly staff and welcoming environment make it a favorite destination for locals and tourists.</p>
                                            <a href="https://thedampub.ca/" target="_blank" class="btn learnmore" title="Learn More">Learn more</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="amenities-box">
                                        <div class="addons-img">
                                            <img src="../../assets/images/the-port-tavern.webp" class="img-fluid" title="The Port Tavern" alt="The Port Tavern" loading="lazy">
                                        </div>
                                        <div class="addons-desc">
                                            <h3>The Port Tavern</h3>
                                            <p>The Port Tavern Restaurant & Bar in Thornbury, Ontario, is your go-to for a classic blend of rugged tavern vibes and high-end dining., Crafted by the legendary Celebrity Chef Mark McEwan. Whether you’re basking on the 100+ seat patio or warming up by the fireplace during cooler months, it’s the perfect spot for every occasion.</p>
                                            <a href="https://mcewangroup.ca/the-port-tavern/" target="_blank" class="btn learnmore" title="Learn More">Learn more</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="amenities-box">
                                        <div class="addons-img">
                                            <img src="../../assets/images/teds-range-road-diner.webp" class="img-fluid" title="Ted’s Range Road Diner" alt="Ted’s Range Road Diner" loading="lazy">
                                        </div>
                                        <div class="addons-desc">
                                            <h3>Ted’s Range Road Diner</h3>
                                            <p>Ted’s Range Road Diner was established in 1987 by Ted and Kate Lye. Ted serves as the head chef, ensuring each meal is prepared with care. The diner offers a variety of dishes including wild game, seafood, and traditional options like prime rib. Live entertainment is featured on weekends, and breakfast is served daily.</p>
                                            <a href="https://www.facebook.com/TedsRangeRoadDiner/" target="_blank" class="btn learnmore" title="Learn More">Learn more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="forty-sec questions-sec" title="Meadow Dome Front View" style="background: url('../../assets/images/meadow-dome-front-view-parallax.webp');">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="forty-heading">
                            <h2>Need More Info?</h2>
                            <p>Feel free to contact us if you need help planning your stay with us at Back Forty Glamping.</p>
                            <a href="/contact" class="btn bookdome" title="Contact Us">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

