@{
    ViewBag.Title = "ErrorPage404";
    Layout = "~/Views/Shared/_LayoutEUMaster.cshtml";
}
@section MetaSection{
<title>404 Error - Page Not Found | Back Forty Glamping</title>
    <meta name="description" content="404 page not found.  Back Forty Glamping " />
}

<span id="MenuId" style="display: none;"></span>

<main>
    <section title="Back Forty Road Sign" class="hero-banner" style="background: url('../../assets/images/back-forty-road-sign.webp');"></section>
    <div class="banner-bottomdesign">
        <img src="../../assets/images/banner-bottomdesign.webp" class="img-fluid w-100 h-100" alt="banner-bottomdesign" loading="lazy">
    </div>

    <section class="mainsec contact-mainsec ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-heading">
                        <h1 class="color px-0">  <span class="arial">4</span>0<span class="arial">4</span> Error <span class="arial">-</span> Page Not Found</h1>
                        <p class=" color">
                            404 Error - Page Not Found. The page you are looking for could not be found. Maybe you mistyped the page address (URL) or followed an old link. You can use the menu-bar above to navigate to a new page or view our website sitemap.
                            You can also contact us directly at <a href="tel:+5193774332" title="(519) 377-4332"><b>(519) 377-4332</b></a> or by
                            email at <a href="mailto:info@backfortyglamping.com" title="info@backfortyglamping.com"><b>info@backfortyglamping.com</b></a>.
                        </p>

                    </div>


                </div>
            </div>

        </div>
    </section>


</main>

