@{
    ViewBag.Title = "gallery";
    Layout = "~/Views/Shared/_LayoutEUMaster.cshtml";
}
@section MetaSection{
 <title>Explore Our Gallery | Back Forty Glamping</title>
 <meta name="description" content="Explore the beauty of Glamping through our photo gallery. Discover our luxurious domes, scenic landscapes, and glamping experiences in every season." />
}
<span id="MenuId" style="display: none;">gallery</span>

    <main>
        
        <section title="Couple Holding B40 Mugs" class="hero-banner" style="background: url('../../assets/images/couple-holding-mugs-gallery-banner.webp');"></section>
      
        <div class="banner-bottomdesign">
            <img src="../../assets/images/banner-bottomdesign.webp" class="img-fluid w-100 h-100" alt="banner-bottomdesign" loading="lazy">
        </div>

        <section class="mainsec amenities-mainsec">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-heading">
                            <h1>Explore Our Stunning Glamping Domes & Scenic Surroundings</h1>
                            <p>Browse through our photos to see the beauty of Back Forty Glamping in every season. Explore our domes and discover some of the scenic views that you can expect to see and enjoy during your stay with us.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="gallery-sec">
            <div class="container-fluid">
                <div class="row exteriorrow">
                    <div class="col-md-12">
                        <h2>Exterior</h2>
                        <div id="demos">
                            <div id="owl-gallery1" class="owl-carousel owl-theme">
                                <div class="item">
                                    <div class="gallery-item">
                                        <div class="gallery-img">
                                            <img src="../../assets/images/dome-at-night.webp" class="img-fluid" alt="Dome At Night" loading="lazy">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="gallery-item">
                                        <div class="gallery-img">
                                            <img src="../../assets/images/drone-shot-forest-domes-meadow-dome-winter.webp" class="img-fluid" alt="Drone Shot Forest Domes+1 Meadow Dome-Winter" loading="lazy">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="gallery-item">
                                        <div class="gallery-img">
                                            <img src="../../assets/images/exterior-forest-dome.webp" class="img-fluid" alt="Exterior Forest Dome" loading="lazy">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="gallery-item">
                                        <div class="gallery-img">
                                            <img src="../../assets/images/exterior-of-forest-domes.webp" class="img-fluid" alt="Exterior of Forest Domes" loading="lazy">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="gallery-item">
                                        <div class="gallery-img">
                                            <img src="../../assets/images/forest-dome-fall-drone-shot.webp" class="img-fluid" alt="Forest Dome Fall Drone Shot" loading="lazy">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="gallery-item">
                                        <div class="gallery-img">
                                            <img src="../../assets/images/forest-domes-summer-drone-shot.webp" class="img-fluid" alt="Forest Domes Summer Drone Shot" loading="lazy">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="gallery-item">
                                        <div class="gallery-img">
                                            <img src="../../assets/images/forest-domes-winter-drone-shot.webp" class="img-fluid" alt="Forest Domes Winter Drone Shot" loading="lazy">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="gallery-item">
                                        <div class="gallery-img">
                                            <img src="../../assets/images/meadow-with-dome-in-distance.webp" class="img-fluid" alt="Meadow With Dome In Distance" loading="lazy">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row exteriorrow">
                    <div class="col-md-12">
                        <h2>Amenities</h2>
                        <div id="demos">
                            <div id="owl-gallery2" class="owl-carousel owl-theme">
                                <div class="item">
                                    <div class="gallery-item">
                                        <div class="gallery-img">
                                            <img src="../../assets/images/back-forty-pond.webp" class="img-fluid" alt="Back Forty Pond" loading="lazy">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="gallery-item">
                                        <div class="gallery-img">
                                            <img src="../../assets/images/coffee-and-sunrise.webp" class="img-fluid" alt="Coffee & Sunrise" loading="lazy">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="gallery-item">
                                        <div class="gallery-img">
                                            <img src="../../assets/images/couple-going-into-sauna.webp" class="img-fluid" alt="Couple Going Into Sauna" loading="lazy">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="gallery-item">
                                        <div class="gallery-img">
                                            <img src="../../assets/images/couple-holding-b40-mugs.webp" class="img-fluid" alt="Couple Holding B40 Mugs" loading="lazy">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="gallery-item">
                                        <div class="gallery-img">
                                            <img src="../../assets/images/couple-in-hammock.webp" class="img-fluid" alt="Couple in Hammock" loading="lazy">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="gallery-item">
                                        <div class="gallery-img">
                                            <img src="../../assets/images/couple-inside-sauna-winter.webp" class="img-fluid" alt="Couple Inside Sauna-winter" loading="lazy">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="gallery-item">
                                        <div class="gallery-img">
                                            <img src="../../assets/images/couple-walking-on-trail.webp" class="img-fluid" alt="Couple Walking on Trail" loading="lazy">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="gallery-item">
                                        <div class="gallery-img">
                                            <img src="../../assets/images/couple-walking-to-sauna-winter.webp" class="img-fluid" alt="Couple Walking To Sauna Winter" loading="lazy">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="gallery-item">
                                        <div class="gallery-img">
                                            <img src="../../assets/images/couple-with-wine-at-forest-dome-firepit.webp" class="img-fluid" alt="Couple with Wine at Forest Dome Firepit" loading="lazy">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="gallery-item">
                                        <div class="gallery-img">
                                            <img src="../../assets/images/ev-chargers-in-parking-lot.webp" class="img-fluid" alt="EV Chargers In Parking Lot" loading="lazy">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="gallery-item">
                                        <div class="gallery-img">
                                            <img src="../../assets/images/exterior-sauna-winter.webp" class="img-fluid" alt="Exterior Sauna-winter" loading="lazy">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="gallery-item">
                                        <div class="gallery-img">
                                            <img src="../../assets/images/forest-dome-firepit-gallery.webp" class="img-fluid" alt="Forest Dome Firepit" loading="lazy">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="gallery-item">
                                        <div class="gallery-img">
                                            <img src="../../assets/images/forest-dome-hot-tub.webp" class="img-fluid" alt="Forest Dome Hot Tub" loading="lazy">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="gallery-item">
                                        <div class="gallery-img">
                                            <img src="../../assets/images/snow-shoes.webp" class="img-fluid" alt="Snow Shoes" loading="lazy">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="gallery-item">
                                        <div class="gallery-img">
                                            <img src="../../assets/images/forest-library.webp" class="img-fluid" alt="Forest Library" loading="lazy">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row exteriorrow">
                    <div class="col-md-12">
                        <h2>Interior</h2>
                        <div id="demos">
                            <div id="owl-gallery3" class="owl-carousel owl-theme">
                                <div class="item">
                                    <div class="gallery-item">
                                        <div class="gallery-img">
                                            <img src="../../assets/images/back-forty-postcard.webp" class="img-fluid" alt="Back Forty Postcard" loading="lazy">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="gallery-item">
                                        <div class="gallery-img">
                                            <img src="../../assets/images/bed-kitchen-view-meadow-dome.webp" class="img-fluid" alt="Bed+Kitchen View-Meadow Dome" loading="lazy">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="gallery-item">
                                        <div class="gallery-img">
                                            <img src="../../assets/images/chairs-on-forest-dome-deck.webp" class="img-fluid" alt="Chairs on Forest Dome Deck" loading="lazy">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="gallery-item">
                                        <div class="gallery-img">
                                            <img src="../../assets/images/floating-shelves-and-skylight-forest-dome.webp" class="img-fluid" alt="Floating Shelves and Skylight Forest Dome" loading="lazy">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="gallery-item">
                                        <div class="gallery-img">
                                            <img src="../../assets/images/forest-dome-bathroom-winter.webp" class="img-fluid" alt="Forest Dome Bathroom-winter" loading="lazy">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="gallery-item">
                                        <div class="gallery-img">
                                            <img src="../../assets/images/forest-dome-interior-view.webp" class="img-fluid" alt="Forest Dome Interior View" loading="lazy">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="gallery-item">
                                        <div class="gallery-img">
                                            <img src="../../assets/images/forest-dome-kitchen.webp" class="img-fluid" alt="Forest Dome Kitchen" loading="lazy">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="gallery-item">
                                        <div class="gallery-img">
                                            <img src="../../assets/images/meadow-dome-at-christmas-with-tree.webp" class="img-fluid" alt="Meadow Dome at Christmas with Tree" loading="lazy">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="gallery-item">
                                        <div class="gallery-img">
                                            <img src="../../assets/images/meadow-dome-at-christmas.webp" class="img-fluid" alt="Meadow Dome At Christmas" loading="lazy">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="gallery-item">
                                        <div class="gallery-img">
                                            <img src="../../assets/images/meadow-dome-kitchen-and-view.webp" class="img-fluid" alt="Meadow Dome Kitchen & View" loading="lazy">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="gallery-item">
                                        <div class="gallery-img">
                                            <img src="../../assets/images/proposal-setup-meadow-dome.webp" class="img-fluid" alt="Proposal Setup-Meadow Dome" loading="lazy">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="gallery-item">
                                        <div class="gallery-img">
                                            <img src="../../assets/images/sipping-coffee-in-forest-dome.webp" class="img-fluid" alt="Sipping Coffee in Forest Dome" loading="lazy">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="gallery-item">
                                        <div class="gallery-img">
                                            <img src="../../assets/images/walking-into-meadow-dome.webp" class="img-fluid" alt="Walking Into Meadow Dome" loading="lazy">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

         <section class="forty-sec questions-sec" title="Meadow Dome Front View" style="background: url('../../assets/images/meadow-dome-front-view-parallax.webp');">
             <div class="container">
                 <div class="row">
                     <div class="col-md-12">
                         <div class="forty-heading">
                             <h2>Plan Your Reservation Ahead</h2>
                             <p>It’s not uncommon for us to have a waiting list. Take a moment to sign up for our mailing list to be notified about new release dates and one-night stays.</p>
                             <a href="https://resnexus.com/resnexus/reservations/signup/C41AB3D8-05C3-45AD-9BD3-8CEAA0F53EBC/subscribe" target="_blank" class="btn bookdome" title="Sign Up">Sign Up</a>
                         </div>
                     </div>
                 </div>
             </div>
        </section>
    </main>


