@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutEUMaster.cshtml";
}
@section MetaSection{
<title>Back Forty Glamping | Geodesic Dome Glamping Resort Meaford, Ontario</title>
    <meta name="description" content="Experience luxury geodesic dome glamping in South Georgian Bay. Back Forty Glamping offers private domes, hot tubs, and immersive nature for an unforgettable escape." />
}

    <div id="closabale-popup-main">
        <div id="closabale-popup">
            <div class="popup">
                <div class="close-inner">
                    <div class="popup-covid-img-container text-center">
                        <div class="text-center mb-4">
                            <img class="pop-up-logo"  src="../../assets/images/backforty-logo.webp" />
                        </div>
                       
                        <div class="mb-2">
                            <img class="w-100 border-30" src="../../assets/images/exterior-forest-dome-menu.webp" />
                        </div>
                        <p>
                            Book 3 nights in April and get the third night 50% off.
                        </p>
                        <div class="btn-similer2 btn-similer ">
                            <a class="btn learnmore min-auto mb-2 w-auto mt-2 px-4" onclick="closePopup1()"> Close</a>
                        </div>
                    </div>
                </div>
                <button class="close-btn" onclick="closePopup1()"> <svg class="icon"><use xlink:href="#close" /> </svg> </button>
            </div>
            <div class="close-cont" onclick="closePopup1()"></div>
        </div>
    </div> 

<span id="MenuId" style="display: none;">home</span>
<main>    

    <section class="hero-banner hero-banner-home">
        <div class="bannertopbg">
            <p>
                Our booking calendar is now open for all 2026 dates. Join our <u><a target="_blank" href="https://resnexus.com/resnexus/reservations/signup/C41AB3D8-05C3-45AD-9BD3-8CEAA0F53EBC/subscribe">email list</a></u> to be notified of new date drops, promos and so much more! April and May one night stays now available.
                
            </p>
        </div>
        <div style="position:relative; width:100%; padding-bottom:56.25%; height:0; overflow:hidden;">
            <video autoplay loop muted playsinline style="position:absolute; top:0; left:0; width:100%; height:100%; object-fit:cover;">
                <source src="https://player.vimeo.com/progressive_redirect/playback/1170386574/rendition/1080p/file.mp4%20%281080p%29.mp4?loc=external&log_user=0&signature=43f68115401862ff7d18cf0469b1a98c33646d97351d4c92531c03b169d3a2fa" type="video/mp4">
            </video>
        </div>
    </section>
    <div class="banner-bottomdesign">
        <img src="../../assets/images/banner-bottomdesign.webp" class="img-fluid" alt="banner-bottomdesign" loading="lazy">
    </div>

    <section class="mainsec">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-heading">
                        <h1>Luxury Dome Glamping in the Heart of South Georgian Bay</h1>
                        <p>Back Forty Glamping is a geodesic dome glamping resort in Ontario's South Georgian Bay. Our secluded domes, located on 26 spacious acres, feature comfortable bedding, relaxing hot tubs, a panoramic sauna and stunning views of the surrounding Ontario wilderness. The domes are available in all four seasons and include running water, electricity, kitchenettes and ensuite bathrooms. Experience privacy, comfort, and direct access to the area's best attractions.</p>
                    </div>
                </div>
            </div>

            <div class="row m15 luxury-mobileblock">
                <div class="col-md-12">
                    <div id="demos">
                        <div id="owl-demo3" class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="colimg">
                                    <img src="../../assets/images/forest-dome-aerial-view.webp" class="img-fluid" alt="Forest Dome Aerial View" loading="lazy">
                                </div>
                                <div class="coltext">
                                    <h2>What’s a Geodesic<br> Dome?</h2>
                                    <p>
                                        Geodesic domes, inspired by natural patterns, are spherical structures celebrated for their strength and sustainable design. These domes provide expansive views of the landscape, allowing guests to connect with nature without sacrificing comfort. Our domes are built to withstand the elements, featuring transparent portions for stargazing and insulated materials for cozy interiors regardless of the season.
                                    </p>
                                    <a href="/domes" class="btn learnmore" title="Learn More">Learn More</a>
                                </div>
                            </div>

                            <div class="item">
                                <div class="colimg">
                                    <img src="../../assets/images/meadow-dome-kitchen.webp" class="img-fluid" alt="Meadow Dome Kitchen" loading="lazy">
                                </div>
                                <div class="coltext">
                                    <h2>Geodesic Dome<br> Glamping</h2>
                                    <p>Back Forty Glamping transforms the traditional camping trip into a geodesic dome glamping adventure. Each dome is thoughtfully furnished to deliver unmatched comfort, with king-sized beds, luxury linens, private hot tubs, and modern conveniences. These glamping domes offer a seamless blend of immersion in nature and contemporary luxury, ensuring a one-of-a-kind experience.</p>
                                    <a href="/domes" class="btn learnmore" title="Explore Domes">Explore Domes</a>
                                </div>
                            </div>

                            <div class="item">
                                <div class="colimg">
                                    <img src="../../assets/images/forest-dome-aerial-view.webp" class="img-fluid" alt="Forest Dome Aerial View" loading="lazy">
                                </div>
                                <div class="coltext">
                                    <h2>What’s a Geodesic<br> Dome?</h2>
                                    <p>
                                        Geodesic domes, inspired by natural patterns, are spherical structures celebrated for their strength and sustainable design. These domes provide expansive views of the landscape, allowing guests to connect with nature without sacrificing comfort. Our domes are built to withstand the elements, featuring transparent portions for stargazing and insulated materials for cozy interiors regardless of the season.
                                    </p>
                                    <a href="/domes" class="btn learnmore" title="Learn More">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row m15 luxury-mobilenone">
                <div class="col-md-7 p15 order-1 order-sm-1 order-md-1 order-lg-1 order-xl-2">
                    <div class="colimg">
                        <img src="../../assets/images/forest-dome-aerial-view.webp" class="img-fluid" alt="Forest Dome Aerial View" loading="lazy">
                    </div>
                </div>
                <div class="col-md-5 p15 order-2 order-sm-2 order-md-2 order-lg-2 order-xl-1">
                    <div class="coltext">
                        <h2>What’s a Geodesic<br> Dome?</h2>
                        <p>
                            Geodesic domes, inspired by natural patterns, are spherical structures celebrated for their strength and sustainable design. These domes provide expansive views of the landscape, allowing guests to connect with nature without sacrificing comfort. Our domes are built to withstand the elements, featuring transparent portions for stargazing and insulated materials for cozy interiors regardless of the season.
                        </p>
                        <a href="/domes" class="btn learnmore" title="Learn More">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="row m15 luxury-mobilenone">
                <div class="col-md-7 p15 order-1 order-sm-1 order-md-1 order-lg-1 order-xl-1">
                    <div class="colimg">
                        <img src="../../assets/images/meadow-dome-kitchen.webp" class="img-fluid" alt="Meadow Dome Kitchen" loading="lazy">
                    </div>
                </div>
                <div class="col-md-5 p15 order-2 order-sm-2 order-md-2 order-lg-2 order-xl-2">
                    <div class="coltext">
                        <h2>Geodesic Dome<br> Glamping</h2>
                        <p>Back Forty Glamping transforms the traditional camping trip into a geodesic dome glamping adventure. Each dome is thoughtfully furnished to deliver unmatched comfort, with king-sized beds, luxury linens, private hot tubs, and modern conveniences. These glamping domes offer a seamless blend of immersion in nature and contemporary luxury, ensuring a one-of-a-kind experience.</p>
                        <a href="/domes" class="btn learnmore" title="Explore Domes">Explore Domes</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="forty-sec" title="Aerial View of Drone - Fall" style="background: url('../../assets/images/aerial-view-of-drone-in-fall-parallax.webp');">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="forty-heading">
                        <h2>When We Say<br> “Back Forty…”</h2>
                        <p>We mean it. The term traditionally refers to the most remote, undeveloped part of a property, untouched and brimming with natural beauty. At Back Forty Glamping, that’s exactly what we offer. Here, you’re given a chance to experience nature intimately, while still enjoying the comforts and luxuries of home.</p>
                        <a href="javascript:void(0)" id="BookNow" onclick="BookHotel(this)" class="btn bookdome" title="Book Dome">Book Dome</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="different-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-heading differentheading">
                        <h2>Different Domes; Different Experiences</h2>
                        <p>At Back Forty Glamping, we offer two distinctive dome experiences: Forest Domes, for those who seek solitude among the trees, and Meadow Domes, which provide open vistas of fields and forests. Both options deliver luxury and comfort, each with unique features to enhance your stay in nature.</p>
                    </div>
                </div>
            </div>

            @*<div class="row m15 different-mobileblock">
                <div class="col-md-12">
                    <div id="demos">
                        <div id="owl-demo4" class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="colimg">
                                    <img src="../../assets/images/forest-dome-view-home.webp" alt="Forest Dome View" class="d-block w-100" loading="lazy">
                                </div>
                                <div class="coltext">
                                    <div class="coltext-align-c">
                                        <h2>Forest Domes</h2>
                                        <p>Our Forest Domes, set along a tree line on elevated wooden decks, offer intimate views of the wilderness and a quiet pond. Each dome has a propane fireplace, stargazing roof, and private hot tub. The domes have identical layouts, but subtle differences in decor.</p>
                                        <a href="/domes" class="btn learnmore" title="View Forest Domes">VIEW FOREST DOMES</a>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="colimg">
                                    <img src="../../assets/images/meadow-dome-exterior.webp" class="img-fluid" alt="Meadow Dome Exterior" loading="lazy">
                                </div>
                                <div class="coltext">
                                    <div class="coltext-align-c">
                                        <h2>Meadow Domes</h2>
                                        <p>Positioned in open fields, our Meadow Domes showcase views of the meadows and distant forest line. Each dome has a concrete base with in-floor heating and large windows for stargazing from your bed or hot tub, and the same luxurious amenities as the Forest Domes.</p>
                                        <a href="/domes#meadowdomes" class="btn learnmore" title="View Meadow Domes">VIEW MEADOW DOMES</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@

            <div class="row m15">
                <div class="col-md-7 p15 order-1 order-sm-1 order-md-1 order-lg-1 order-xl-2">
                    <div class="colimg">
                        <div id="demo" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active">0</button>
                                <button type="button" data-bs-target="#demo" data-bs-slide-to="1">1</button>
                                <button type="button" data-bs-target="#demo" data-bs-slide-to="2">2</button>
                                <button type="button" data-bs-target="#demo" data-bs-slide-to="3">3</button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="../../assets/images/forest-dome-view-home.webp" alt="Forest Dome View" class="d-block w-100" loading="lazy">
                                </div>
                                <div class="carousel-item">
                                    <img src="../../assets/images/forest-dome-fall-view-home.webp" alt="Forest Dome Fall View" class="d-block w-100" loading="lazy">
                                </div>
                                <div class="carousel-item">
                                    <img src="../../assets/images/exterior-of-forest-domes-home.webp" alt="Exterior of Forest Domes" class="d-block w-100" loading="lazy">
                                </div>
                                <div class="carousel-item">
                                    <img src="../../assets/images/forest-dome-kitchen-home.webp" alt="Forest Dome Kitchen" class="d-block w-100" loading="lazy">
                                </div>
                            </div>
                            <button class="carousel-control-prev carouselbtn" type="button" data-bs-target="#demo" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </button>
                            <button class="carousel-control-next carouselbtn" type="button" data-bs-target="#demo" data-bs-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 p15 order-2 order-sm-2 order-md-2 order-lg-2 order-xl-1">
                    <div class="coltext">
                        <div class="coltext-align-c">
                            <h2>Forest Domes</h2>
                            <p>
                                Our Forest Domes, set along a tree line on elevated wooden decks, offer intimate views of the wilderness and a quiet pond. Each dome has a propane fireplace, stargazing roof, and private hot tub. The domes have identical layouts, but subtle differences in decor.
                            </p>
                            <a href="/domes#forestdomes" class="btn learnmore" title="View Forest Domes">VIEW FOREST DOMES</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m15 ">
                <div class="col-md-7 p15 order-1 order-sm-1 order-md-1 order-lg-1 order-xl-1">
                    <div class="colimg">
                        <div id="demo1" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#demo1" data-bs-slide-to="0" class="active">0</button>
                                <button type="button" data-bs-target="#demo1" data-bs-slide-to="1">1</button>
                                <button type="button" data-bs-target="#demo1" data-bs-slide-to="2">2</button>
                                <button type="button" data-bs-target="#demo1" data-bs-slide-to="3">3</button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="../../assets/images/meadow-dome-exterior.webp" class="img-fluid" alt="Meadow Dome Exterior" loading="lazy">
                                </div>
                                <div class="carousel-item">
                                    <img src="../../assets/images/meadow-dome-hot-tub.webp" alt="Meadow Dome Hot Tub" class="d-block w-100" loading="lazy">
                                </div>
                                <div class="carousel-item">
                                    <img src="../../assets/images/bed-kitchen-view-meadow-dome-home.webp" alt="Bed+Kitchen View-Meadow Dome" class="d-block w-100" loading="lazy">
                                </div>
                                <div class="carousel-item">
                                    <img src="../../assets/images/walking-into-meadow-dome-home.webp" alt="Walking Into Meadow Dome" class="d-block w-100" loading="lazy">
                                </div>
                            </div>
                            <button class="carousel-control-prev carouselbtn" type="button" data-bs-target="#demo1" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </button>
                            <button class="carousel-control-next carouselbtn" type="button" data-bs-target="#demo1" data-bs-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 p15 order-2 order-sm-2 order-md-2 order-lg-2 order-xl-2">
                    <div class="coltext">
                        <div class="coltext-align-c">
                            <h2>Meadow Domes</h2>
                            <p>Positioned in open fields, our Meadow Domes showcase views of the meadows and distant forest line. Each dome has a concrete base with in-floor heating and large windows for stargazing from your bed or hot tub, and the same luxurious amenities as the Forest Domes.</p>
                            <a href="/domes#meadowdomes" class="btn learnmore" title="View Meadow Domes">VIEW MEADOW DOMES</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="plenty-sec" id="PlentyofSpace">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="plenty-text">
                        <h2>Plenty of Space</h2>
                        <p>Our geodesic domes are 70-100 feet apart, each surrounded by privacy fencing, to guarantee a peaceful, relaxing, and private stay. This thoughtful layout ensures that guests enjoy their own secluded sanctuary, perfectly blending solitude with the beauty of the natural surroundings.</p>
                        <a href="/domes" class="btn explorebtn" title="Explore Domes">Explore Domes</a>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="plenty-img">
                        <img src="../../assets/images/map.webp" alt="Back Forty Glamping Property Map" class="img-fluid" loading="lazy">
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="glamping-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-heading">
                        <h2>A Stay at Back Forty<br> Glamping</h2>
                        <p>Back Forty Glamping is not just a place to stay: It is the basecamp to Experience adventure, the backdrop for Connection, and the opportunity to feel Restored.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="glamping-item">
                        <div class="glamping-img">
                            <img src="../../assets/images/couple-in-sauna.webp" class="img-fluid" alt="Couple in Sauna" loading="lazy">
                            <img src="../../assets/images/backforty-logo-darkgreen.webp" class="img-fluid hoverlogo" alt="backforty-logo-darkgreen" loading="lazy">
                        </div>
                        <div class="glamping-desc">
                            <h3>Experience</h3>
                            <p>The simple pleasures of a crackling fire, a starry night sky, a rising sun, or the exhilarating adventures to discover throughout South Georgian Bay.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mt-md-0 mt-4">
                    <div class="glamping-item">
                        <div class="glamping-img">
                            <img src="../../assets/images/reading-on-bed.webp" class="img-fluid" alt="Reading on Bed" loading="lazy">
                            <img src="../../assets/images/backforty-logo-darkgreen.webp" class="img-fluid hoverlogo" alt="backforty-logo-darkgreen" loading="lazy">
                        </div>
                        <div class="glamping-desc">
                            <h3>Connect</h3>
                            <p>Be given the gift of time, to hit pause, to connect with not only the wonder of the natural world around you, but also yourself and others.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mt-md-0 mt-4">
                    <div class="glamping-item">
                        <div class="glamping-img">
                            <img src="../../assets/images/meadow-dome-hot-tub-restore.webp" class="img-fluid" alt="meadow-dome-hot-tub" loading="lazy">
                            <img src="../../assets/images/backforty-logo-darkgreen.webp" class="img-fluid hoverlogo" alt="backforty-logo-darkgreen" loading="lazy">
                        </div>
                        <div class="glamping-desc">
                            <h3>Restore</h3>
                            <p>Exhale. Leave feeling refreshed, with your spirit renewed, ready for what comes next.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section title="Around South Georgian Bay" class="forty-sec georgian-sec" style="background: url('../../assets/images/around-georgian-bay.webp');">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="forty-heading">
                        <h2>Around South Georgian Bay</h2>
                        <p>Our travel guide features a variety of attractions near Back Forty Glamping, including South Georgian Bay’s landscapes, Meaford’s historical sites, and local restaurants. And for more in-depth information about activities in our our area, check out our blog articles.</p>
                        <a href="/local-area" class="btn bookdome" title="Explore Local Area">EXPLORE LOCAL AREA</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="mainsec yourstay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-heading">
                        <h2>Enhance Your Stay</h2>
                        <p>Discover the array of customizable food add ons, packages and experiences designed to enhance your Glamping escapade. From relaxing spa experiences to unique adventure activities, we offer deals to make your visit an unforgettable one. We also offer food add-ons, featuring a range of meal options and snacks to enrich your experience.</p>
                    </div>
                </div>
            </div>

            <div class="row m15 different-mobileblock d-none">
                <div class="col-md-12">
                    <div id="demos">
                        <div id="owl-demo5" class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="coltext">
                                    <div class="coltext-align-c">
                                        <h2>Experience Add-Ons</h2>
                                        <p>Make your stay at Back Forty truly personal with our experience add-ons. For our adventurous glampers who are seeking an extraordinary adventure, our offerings are designed to cater your unique tastes.</p>
                                        <a href="https://resnexus.com/resnexus/reservations/book/C41AB3D8-05C3-45AD-9BD3-8CEAA0F53EBC/giftshop?tabID=6&_gl=1*2slgpx*_ga*MTE0MDM1NDY3NC4xNzY2NDIzOTA4*_ga_52Z71TSSGZ*czE3NjY0NjE4OTAkbzMkZzEkdDE3NjY0NjQwNTIkajYwJGwwJGgw*_gcl_au*MTY4NzUzMzc2OS4xNzY2NDIzOTA4*_ga_TH54JEZP9J*czE3NjY0NjE4OTAkbzMkZzEkdDE3NjY0NjQwNTIkajYwJGwwJGg3MDY5NTQ5NTA.&_ga=2.21817531.1082209528.1766423908-1140354674.1766423908" target="_blank" class="btn learnmore" title="See Add-Ons">See Add-Ons</a>
                                    </div>
                                </div>
                                <div class="colimg">
                                    <img src="../../assets/images/couple-with-wine.webp" class="img-fluid" alt="couple-with-wine" loading="lazy">
                                </div>
                            </div>

                            <div class="item">
                                <div class="coltext">
                                    <div class="coltext-align-c">
                                        <h2>Food and Package Add-Ons</h2>
                                        <p>Enjoy the convenience of gourmet meals prepared by local culinary talents, right in the comfort of your dome. Our food add-ons are prepped with easy-to-follow instructions for a delicious dining experience. Whether you’re celebrating a romantic occasion, a birthday or another special milestone, we also have some fun packages you won’t want to miss out on!</p>
                                        <a href="https://resnexus.com/resnexus/reservations/book/C41AB3D8-05C3-45AD-9BD3-8CEAA0F53EBC/giftshop?tabID=4" target="_blank" class="btn learnmore" title="See Add-Ons">See Add-Ons</a>
                                    </div>
                                </div>
                                <div class="colimg">
                                    <img src="../../assets/images/charcuterie-board-add-on.webp" class="img-fluid" alt="Charcuterie Board Add On" loading="lazy">
                                </div>
                            </div>

                            @*<div class="item">
                                <div class="coltext">
                                    <div class="coltext-align-c">
                                        <h2>Experience Add-Ons</h2>
                                        <p>Make your stay at Back Forty truly personal with our experience add-ons. For our adventurous glampers who are seeking an extraordinary adventure, our offerings are designed to cater your unique tastes.</p>
                                        <a href="https://resnexus.com/resnexus/reservations/book/C41AB3D8-05C3-45AD-9BD3-8CEAA0F53EBC/giftshop?tabID=6&_gl=1*2slgpx*_ga*MTE0MDM1NDY3NC4xNzY2NDIzOTA4*_ga_52Z71TSSGZ*czE3NjY0NjE4OTAkbzMkZzEkdDE3NjY0NjQwNTIkajYwJGwwJGgw*_gcl_au*MTY4NzUzMzc2OS4xNzY2NDIzOTA4*_ga_TH54JEZP9J*czE3NjY0NjE4OTAkbzMkZzEkdDE3NjY0NjQwNTIkajYwJGwwJGg3MDY5NTQ5NTA.&_ga=2.21817531.1082209528.1766423908-1140354674.1766423908" target="_blank" class="btn learnmore" title="See Add-Ons">See Add-Ons</a>
                                    </div>
                                </div>
                                <div class="colimg">
                                    <img src="../../assets/images/couple-with-wine.webp" class="img-fluid" alt="couple-with-wine" loading="lazy">
                                </div>
                            </div>*@

                        </div>
                    </div>
                </div>
            </div>

            <div class="row m15 ">
                <div class="col-md-7 p15 order-1 order-sm-1 order-md-1 order-lg-1 order-xl-2 taborder2">
                    <div class="colimg">
                        <img src="../../assets/images/couple-with-wine.webp" class="img-fluid" alt="couple-with-wine" loading="lazy">
                    </div>
                </div>
                <div class="col-md-5 p15 order-2 order-sm-2 order-md-2 order-lg-2 order-xl-1 taborder1">
                    <div class="coltext">
                        <div class="coltext-align-c">
                            <h2>Experience Add-Ons</h2>
                            <p>Make your stay at Back Forty Glamping truly personal with our experience add-ons. From spa passes to in-dome massages, our carefully selected enhancements are designed to help you relax, unwind, and enjoy a little extra luxury during your stay.</p>
                            <a href="https://resnexus.com/resnexus/reservations/book/C41AB3D8-05C3-45AD-9BD3-8CEAA0F53EBC/giftshop?tabID=6&_gl=1*2slgpx*_ga*MTE0MDM1NDY3NC4xNzY2NDIzOTA4*_ga_52Z71TSSGZ*czE3NjY0NjE4OTAkbzMkZzEkdDE3NjY0NjQwNTIkajYwJGwwJGgw*_gcl_au*MTY4NzUzMzc2OS4xNzY2NDIzOTA4*_ga_TH54JEZP9J*czE3NjY0NjE4OTAkbzMkZzEkdDE3NjY0NjQwNTIkajYwJGwwJGg3MDY5NTQ5NTA.&_ga=2.21817531.1082209528.1766423908-1140354674.1766423908" target="_blank" class="btn learnmore" title="See Add-Ons">See Add-Ons</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m15 ">
                <div class="col-md-7 p15 order-1 order-sm-1 order-md-1 order-lg-1 order-xl-1 taborder2">
                    <div class="colimg">
                        <img src="../../assets/images/charcuterie-board-add-on.webp" class="img-fluid" alt="charcuterie-board-add-on" loading="lazy">
                    </div>
                </div>
                <div class="col-md-5 p15 order-2 order-sm-2 order-md-2 order-lg-2 order-xl-2 taborder1">
                    <div class="coltext">
                        <div class="coltext-align-c">
                            <h2>Food and Package<br> Add-Ons</h2>
                            <p>Enjoy the convenience of gourmet meals prepared by local culinary talents, right in the comfort of your dome. Our food add-ons are prepped with easy-to-follow instructions for a delicious dining experience. Whether you’re celebrating a romantic occasion, a birthday or another special milestone, we also have some fun packages you won’t want to miss out on!</p>
                            <a href="https://resnexus.com/resnexus/reservations/book/C41AB3D8-05C3-45AD-9BD3-8CEAA0F53EBC/giftshop?tabID=4" target="_blank" class="btn learnmore" title="See Add-Ons">See Add-Ons</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="forty-sec questions-sec" title="View From Forest Dome" style="background: url('../../assets/images/view-from-forest-dome-parallax.webp');">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="forty-heading">
                        <h2>Have Questions?</h2>
                        <p>For answers to our most common questions, visit our FAQ page. You’ll find detailed information to help prepare for your glamping adventure at Back Forty Glamping in South Georgian Bay.</p>
                        <a href="/policies#faqsec" class="btn bookdome" title="Get Answers">Get Answers</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="our-guests">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-heading">
                        <h2>See What Our Guests<br> Have to Say</h2>
                        <div class="review-badge">
                            <h3>Over 300</h3>
                            <p>
                                5 Star Reviews
                            </p>
                            <div class="stars">
                                ★ ★ ★ ★ ★
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 mx-auto px-sm-5 px-4">
                    <div id="demos">
                        <div id="owl-demo-testimonial" class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="guests-item">
                                    <div class="guests-desc">

                                        <p>
                                            Top tier getaway spot to bring someone special. The team over there is nothing short of amazing. Definitely cannot wait to come back and enjoy the property again! Would highly recommend for any couples to experience this at least once!
                                        </p>
                                        <h3>David - Richmond Hill</h3>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="guests-item">
                                    <div class="guests-desc">
                                        <p>
                                            What a great experience, needed to get away and this glamping dome was just what we needed. Relaxing, hot tub and sauna were great touches we used! And the final Touches in the dome to make everything more enjoyable did not go unnoticed. Waking up to snow falling was magical. Highly recommend and will definitely come again.
                                        </p>
                                        <h3>Keara - Cambridge</h3>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="guests-item">
                                    <div class="guests-desc">

                                        <p>
                                            Great escape from the ordinary. The dome was perfect from the views, super cute and cozy and all the amenities you would need. The hot tub was fantastic on a cold winter night under the stars! Excellent communication from booking to departure. We will definitely return and highly recommend Back Forty Glamping!
                                        </p>
                                        <h3>Gina – Lakefield</h3>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="guests-item">
                                    <div class="guests-desc">

                                        <p>
                                            I’m not sure I can put into words, the magic that is felt here. It’s beautiful, calm and really allowed my husband and I to slow down and reconnect.
                                        </p>
                                        <h3>Amanda – London </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="guests-item">
                                    <div class="guests-desc">

                                        <p>
                                            Overall, everything exceeded our expectations. We wouldn’t change a thing and are already planning to come back for another stay this fall or winter!
                                        </p>
                                        <h3>Julien - Oakville</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="guests-item">
                                    <div class="guests-desc">
                                        <p>
                                            We spent four nights in October 2025 in the Balsam forest dome for our seventh wedding anniversary.  My husband and I live in the GTHA, and wanted a vacation that felt like we were in the middle of nowhere, but with all the comforts of home…including wifi!  Back Forty glamping was everything we had hoped it would be and more!  We added on breakfast options, and three dinners. The food was delicious and super easy to prepare. Our dome had everything we needed. We had the movie projector, snacks and popcorn add on which was a real treat! Highly recommend!  We were lucky enough to have clear nights with incredible star-gazing. The sauna was a personal favourite…the view serene.  The hospitality team was quick to respond to any of our wants and needs, but our stay felt incredibly private and remote.  The nights were cool and falling asleep to the gas fireplace was pure bliss.  We can’t wait to return.
                                        </p>
                                        <h3>Stacey - Hamilton</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="guests-item">
                                    <div class="guests-desc">
                                        <p>
                                            I'd give a 7 out 5 stars if possible. Everything was on point, had a fabulous night watching the stars from the hot tub. We will be back.
                                        </p>
                                        <h3>Andrew  - Burlington </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="guests-item">
                                    <div class="guests-desc">
                                        <p>
                                            This is most luxurious glamping experience my wife and I have ever experienced. We were celebrating our 30th wedding anniversary and the staff had placed balloons and a banner in our dome wishing us a happy anniversary.  The attention to detail is spectacular. The domes themselves are fabulous and the setting is delightful.  If you're contemplating a booking, do it. You will not be disappointed.
                                        </p>
                                        <h3>Allan - Toronto </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="guests-item">
                                    <div class="guests-desc">
                                        <p>
                                            My wife and I celebrated our anniversary here and it was an amazing experience. Dooms were even better than in the pictures. Very clean and weather controlled. Everything is very private and works as intended. I was also so very pleased and surprised they had an electric charger so I can plug my car and not worry as I drove 3 hours to get there. I deff recommended it to all my family and friends.
                                        </p>
                                        <h3>Eric - Cambridge</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="guests-item">
                                    <div class="guests-desc">
                                        <p>
                                            Our stay at Back 40 was nothing short of magical! The domes are beautifully designed with thoughtful touches and complete privacy, making for a truly relaxing getaway. Every detail has been carefully considered by the Back 40 team, from the cozy decor to the well-stocked amenities. The highlights for us were the fireflies dancing at night, the private hot tub, and the delicious add-on breakfast. The owners have created something truly special here — we absolutely loved our stay!
                                        </p>
                                        <h3>Kelley - New Westminster</h3>
                                    </div>
                                </div>
                            </div>


                            <div class="item">
                                <div class="guests-item">
                                    <div class="guests-desc">
                                        <p>
                                            This was absolutely stunning. It is the perfect place to enjoy some quiet time with your partner. The property and scenery is perfect. The Domes are very clean, very private and so luxurious. It honestly feels like you are staying in a high-end hotel room, in the middle of a forest. I think this will exceed all expectations for any visitor. I would definitely do this again.
                                        </p>
                                        <h3>Steve – Milton </h3>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="guests-item">
                                    <div class="guests-desc">
                                        <p>
                                            We recently stayed at Back Forty Domes in the Willow Dome this past Sunday, and the entire experience from arrival to departure was incredible. The property is stunning, check-in was quick and seamless, and the team was easy to reach if we needed anything.
                                        </p>
                                        <h3>Julien - Oakville</h3>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="guests-item">
                                    <div class="guests-desc">
                                        <p>
                                            Had an absolutely wonderful time! The luxury feel when you walk in is amazing. They have everything you could possible need to have a comfortable and relaxing time. Hot tub is an added bonus to being on the deck in the forest. It's an oasis from the busy lives we have and appreciate all the attention to making it that way. We will definitely book for the fall when the leaves change colors.
                                        </p>
                                        <h3>Elizabeth – Brampton</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

 <script>
        function closePopup1() {
            document.getElementById("closabale-popup-main").style.display = "none";
        };
    </script>

    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="close" viewBox="0 0 329.26933 329"><title>close</title><path d="m194.800781 164.769531 128.210938-128.214843c8.34375-8.339844 8.34375-21.824219 0-30.164063-8.339844-8.339844-21.824219-8.339844-30.164063 0l-128.214844 128.214844-128.210937-128.214844c-8.34375-8.339844-21.824219-8.339844-30.164063 0-8.34375 8.339844-8.34375 21.824219 0 30.164063l128.210938 128.214843-128.210938 128.214844c-8.34375 8.339844-8.34375 21.824219 0 30.164063 4.15625 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921875-2.089844 15.082031-6.25l128.210937-128.214844 128.214844 128.214844c4.160156 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921874-2.089844 15.082031-6.25 8.34375-8.339844 8.34375-21.824219 0-30.164063zm0 0" /></symbol>
    </svg> 