@{
    ViewBag.Title = "policies";
    Layout = "~/Views/Shared/_LayoutEUMaster.cshtml";
}

@section MetaSection{
<title>Policies & Guidelines | Back Forty Glamping Meaford, Ontario</title>
    <meta name="description" content="Read our booking, cancellation, and pricing and payment rules to ensure a enjoyable stay at Back Forty Glamping. Know what to expect before you book." />
}
    <span id="MenuId" style="display: none;">policies</span>

    <main>

        <section title="Entrance to Meadow Dome" class="hero-banner" style="background: url('../../assets/images/entrance-to-meadow-dome.webp');"></section>
        <div class="banner-bottomdesign">
            <img src="../../assets/images/banner-bottomdesign.webp" class="img-fluid w-100 h-100" alt="banner-bottomdesign" loading="lazy">
        </div>

        <section class="faq-sec " id="faqsec">
            <div class="container">
                <div class="row mainsec">
                    <div class="col-md-12">
                        <div class="main-heading mb-0">
                            <h1>Answers to Our Most<br> Common Questions</h1>
                            <p>Welcome to our FAQ page, where we’ve compiled answers to common questions about Back Forty Glamping. Here, you’ll find detailed information to help prepare for your visit and ensure a smooth and enjoyable experience.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="faqbg mb-0">
                            <div id="accordion">
                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse1" aria-expanded="false">What amenities are provided?</a>
                                    </div>
                                    <div id="collapse1" class="collapse" data-bs-parent="#accordion" style="">
                                        <div class="card-body">
                                            <ul>
                                                <li>King size bed</li>
                                                <li>3-piece bathroom</li>
                                                <li>Kitchenette</li>
                                                <li>BBQ & propane</li>
                                                <li>Private fire pit</li>
                                                <li>Private hot tub</li>
                                                <li>Firewood & kindling (April-December)</li>
                                                <li>Heating/AC</li>
                                                <li>Wi-Fi</li>
                                                <li>Privacy fencing</li>
                                                <li>Heated floors (Meadow Domes)</li>
                                                <li>Linens</li>
                                                <li>Bathrobes/Towels</li>
                                                <li>Soap/shampoo/conditioner/body wash/lotion</li>
                                                <li>Makeup remover</li>
                                                <li>Hair dryer</li>
                                                <li>Basic cooking pots & utensils</li>
                                                <li>Mini fridge</li>
                                                <li>Electric hot plate</li>
                                                <li>Toaster oven</li>
                                                <li>Kettle & coffee press</li>
                                                <li>Specialty tea/coffee</li>
                                                <li>Milkettes/creamers</li>
                                                <li>Board games</li>
                                                <li>Snowshoes (December-March)</li>
                                                <li>Fan</li>
                                                <li>Sky light (Forest Domes) </li>
                                                <li>Mini bar (for purchase)</li>
                                                <li>Marshmallow sticks</li>
                                                <li>Salt, pepper and oil </li>
                                                <li>Heated mattress topper</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse2" aria-expanded="false">
                                            What are your check-in and check-out times?
                                        </a>
                                    </div>
                                    <div id="collapse2" class="collapse" data-bs-parent="#accordion">
                                        <div class="card-body">
                                            <ul>
                                                <li>
                                                    Check-in is at 4:00 PM.
                                                </li>
                                                <li>
                                                    Check-out is at 11:00 AM.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse3" aria-expanded="false">What are your current rates?</a>
                                    </div>
                                    <div id="collapse3" class="collapse" data-bs-parent="#accordion">
                                        <div class="card-body">
                                           
                                           Pricing starts at $385/night.  <u><a href="https://resnexus.com/resnexus/reservations/book/C41AB3D8-05C3-45AD-9BD3-8CEAA0F53EBC/GiftCertificates" target="_blank">Click here</a></u> to book your stay at Back Forty Glamping. 
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse4" aria-expanded="false">
                                            How do bookings work?
                                        </a>
                                    </div>
                                    <div id="collapse4" class="collapse" data-bs-parent="#accordion">
                                        <div class="card-body">
                                            All 2026 dates are currently available for booking.  Reservations require a two-night minimum stay with no check-in or check-outs on Saturdays.  Leftover one-night stays are released monthly, so keep your eye out or subscribe to our mailing list to be notified about new date releases and one-night stays!

                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse5" aria-expanded="false">
                                            What is your cancellation policy?
                                        </a>
                                    </div>
                                    <div id="collapse5" class="collapse" data-bs-parent="#accordion">
                                        <div class="card-body">
                                           Please scroll down this page or <u><a href="/policies#policies">click here</a> </u> to view our policies.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse6" aria-expanded="false">Is there a waitlist?</a>
                                    </div>
                                    <div id="collapse6" class="collapse" data-bs-parent="#accordion">
                                        <div class="card-body">
                                            Yes! You are welcome to join our
                                            <u><a href="https://resnexus.com/resnexus/reservations/signup/C41AB3D8-05C3-45AD-9BD3-8CEAA0F53EBC/subscribe" target="_blank">mailing list</a></u> where we update guests of any upcoming cancellations.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse7" aria-expanded="false">Are gift cards available?</a>
                                    </div>
                                    <div id="collapse7" class="collapse" data-bs-parent="#accordion">
                                        <div class="card-body">
                                            Yes gift cards are the perfect wedding,
                                            birthday, & Christmas gift.  Gift cards do not expire and
                                            can be purchased online by
                                            <u>
                                                <a href="https://resnexus.com/resnexus/reservations/book/C41AB3D8-05C3-45AD-9BD3-8CEAA0F53EBC/GiftCertificates" target="_blank">
                                                    clicking here.
                                                </a>
                                            </u>


                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse8" aria-expanded="false">Are kids and/or pets allowed?</a>
                                    </div>
                                    <div id="collapse8" class="collapse" data-bs-parent="#accordion">
                                        <div class="card-body">
                                            Unfortunately not. Our glamping experience is for two adults (18 or older) per dome.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse9" aria-expanded="false">
                                            How far apart are the domes?
                                        </a>
                                    </div>
                                    <div id="collapse9" class="collapse" data-bs-parent="#accordion">
                                        <div class="card-body">
                                            The forest domes are all about 70 feet apart.  Please 
                                            <u>
                                                <a href="javascript:void(0);" id="openSiteMap" class="view-map-link">
                                                    View Our Site Map
                                                </a>
                                            </u>
                                            for the layout of the property.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse10" aria-expanded="false">
                                            Are all domes the same?
                                        </a>
                                    </div>
                                    <div id="collapse10" class="collapse" data-bs-parent="#accordion">
                                        <div class="card-body">
                                            For the most part, all domes have the same amenities. The only difference between the forest domes and meadow domes is the view. The forest domes have seasonal skylights that are large in the winter and smaller in the spring, summer and fall for temperature regulation reasons.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse11" aria-expanded="false">
                                            Do all domes have a private hot tub?
                                        </a>
                                    </div>
                                    <div id="collapse11" class="collapse" data-bs-parent="#accordion">
                                        <div class="card-body">
                                            Yep! Each dome has a private hot tub for your personal enjoyment!
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse12" aria-expanded="false">Do all domes have access to the sauna?</a>
                                    </div>
                                    <div id="collapse12" class="collapse" data-bs-parent="#accordion">
                                        <div class="card-body">
                                            Yes! Nestled among the trees is our electric cube sauna with panoramic views of the forest. There is an outdoor cold shower open seasonally from May-October. This is a communal amenity that can be enjoyed by any guest on site.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse13" aria-expanded="false">Can I come check out the property?</a>
                                    </div>
                                    <div id="collapse13" class="collapse" data-bs-parent="#accordion">
                                        <div class="card-body">
                                            Please do not enter or roam the property unless you are a guest currently staying during the time of your visit. This is to ensure privacy for the guests currently enjoying their stay.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse14" aria-expanded="false">What should I bring?</a>
                                    </div>
                                    <div id="collapse14" class="collapse" data-bs-parent="#accordion">
                                        <div class="card-body">
                                            Our domes are equipped with a comprehensive range of amenities for your comfort. However, for a complete experience, please bring personal essentials and items for outdoor activities, including hiking shoes, bug spray, swimwear, face masks (if needed), and slippers. Don't forget food, drinks, an extra cooler for storage, a good book, and extra layers of clothing to adapt to changing temperatures.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse15" aria-expanded="false">How does check in work?</a>
                                    </div>
                                    <div id="collapse15" class="collapse" data-bs-parent="#accordion">
                                        <div class="card-body">
                                            You will receive a welcome text on the day of check in when your dome is ready. It is self check in, meaning you will follow the instructions of your 2 day out email, use the unloading zone by your dome to unpack your things and then returning your car to the front parking lot. It is a 200m walk back to your dome from the parking lot.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse16" aria-expanded="false">Is the water drinkable?</a>
                                    </div>
                                    <div id="collapse16" class="collapse" data-bs-parent="#accordion">
                                        <div class="card-body">
                                            Yes it is! Our water is purified and there is a separate tap at the sink for drinking water
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse17" aria-expanded="false">
                                            Do you have cell service and wifi?
                                        </a>
                                    </div>
                                    <div id="collapse17" class="collapse" data-bs-parent="#accordion">
                                        <div class="card-body">
                                            Yes to both! Our vision for our guest’s glamping experience is for you to unplug, relax and enjoy your getaway to the absolute fullest. However, we do know that things come up, so we wanted our guests to have access to wifi as needed.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse18" aria-expanded="false">Can we get delivery to the domes?</a>
                                    </div>
                                    <div id="collapse18" class="collapse" data-bs-parent="#accordion">
                                        <div class="card-body">
                                            We are located only 10-15 minutes from local restaurants but due to the rural setting of Back Forty Glamping delivery is not common. Plan ahead and bring your food or check out our add-ons when making your reservation!
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse19" aria-expanded="false">How do add on and food packages work?</a>
                                    </div>
                                    <div id="collapse19" class="collapse" data-bs-parent="#accordion">
                                        <div class="card-body">
                                            All our food add-ons are prepped ahead of time and placed in your dome upon arrival. Each meal comes with simple, one-step instructions if needed, allowing you to enjoy your meals at your own convenience while ensuring they taste fresh and hot! Nothing beats having an easy gourmet meal in the comfort of your dome.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse20" aria-expanded="false">Is parking available?</a>
                                    </div>
                                    <div id="collapse20" class="collapse" data-bs-parent="#accordion">
                                        <div class="card-body">
                                            Yes, free parking is available on site.
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="mainsec amenities-mainsec pb-md-5" id="policies">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-heading">
                            <h2 class="color1">Our Policies &<br> Guidelines</h2>
                            <p>Before booking your stay with us at Back Forty Glamping, we kindly encourage you to review our policies and guidelines. Familiarizing yourself with this information ensures a seamless and enjoyable experience, helping us create a comfortable and respectful environment for all our guests.</p>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section class="policies-sec">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="policies-box">
                            <div class="policies-text">
                                <h2>Bookings & Cancellations</h2>
                                <p>At the time of booking, you will be charged 50% of the booking fee.</p>
                                <p>2 weeks from your check in date, the remaining balance will be automatically charged to your credit card.</p>
                                <p>All prices are subject to HST.</p>
                                <p>Check in anytime after 4pm.<br> Check out promptly at 11am.</p>
                                <p>100% of payment is refundable when canceled 30 days before scheduled booking.</p>
                                <p>Less than 30 days but greater than 14 days before check in, cancellations are non-refundable but one date change or credit for a future stay is permitted. Please note: if date change occurs or credit is given for a future stay, this reservation is not eligible for future cancellation or alternate changes. The guest will be responsible for the difference in cost if switching to dates with a higher nightly rate.</p>
                                <p>14 days or less from check in date, date changes or credits are not permitted and cancellations are not eligible for refund.</p>
                                <p>If we have to cancel your booking for any reason, you will receive a full refund.</p>
                                <p>During the winter season, if highways are closed and you are unable to get to Back Forty for your stay, you will receive credit towards booking at a later date.</p>
                                <p>TRAVEL INSURANCE is available for an additional fee with two provided options at checkout - "Sickness, Injury or Travel Delay" or "Cancel for any reason". The terms and conditions for each option is viewable at checkout as well. If travel insurance is purchased, those terms are what will be referenced over our standard cancellation policy mentioned above.</p>
                            </div>
                            <div class="policies-text">
                                <h2>Liability</h2>
                                <p>Back Forty Glamping is not liable for lost, damaged or missing pieces of personal property while on site including luggage, jewelry, vehicles or electronics. Back Forty Glamping is not liable for any injuries incurred while on site.</p>
                            </div>
                            <div class="policies-text">
                                <h2>Damage</h2>
                                <p>Please report any damages that happen during your stay so they can be promptly addressed. A damage fee may be charged to your credit card under the following conditions:</p>
                                <p>• excessive garbage and mess <br>• broken or missing items <br>• evidence of smoking inside ($250 minimum fine)</p>
                            </div>
                            <div class="policies-text">
                                <h2>Rules</h2>
                                <p>We are not able to accommodate pets in order to protect and respect livestock in the area<br> No drones on site to protect the privacy of other guests<br> Please smoke in the designated smoking area (parking lot) only<br> Our property boundaries are clearly fenced, please do not climb any fences while exploring our walking trails<br> Quiet hours will begin by 10pm<br> 2 guests (age 18+) per dome<br> Back Forty is not a place meant for loud parties and music<br> No swimming in the pond<br> Fireworks are prohibited<br> ATVs or snowmobiles are prohibited being driven around the property or on the trails<br> No hunting or firearms<br> No day visitors are allowed, we really strive to create a private, quiet getaway for our guests</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="forty-sec questions-sec" title="Meadow Dome Front View" style="background: url('../../assets/images/meadow-dome-front-view-parallax.webp');">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="forty-heading">
                            <h2>Still Have Questions?</h2>
                            <p>Contact us if you have questions or concerns. We’ll be glad to help. We look forward to meeting you!</p>
                            <a href="/contact" class="btn bookdome" title="Contact Us">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Custom Popup -->
        <div class="map-popup-overlay" id="mapPopup">
            <div class="map-popup">
                <button class="close-popup" id="closePopup">&times;</button>
                <img src="https://www.backfortyglamping.com/assets/images/map.webp" alt="Site Map">
            </div>
        </div>
        <script>
    const openBtn = document.getElementById("openSiteMap");
    const popup = document.getElementById("mapPopup");
    const closeBtn = document.getElementById("closePopup");

    openBtn.addEventListener("click", () => {
        popup.style.display = "flex";
        document.body.style.overflow = "hidden";
    });

    closeBtn.addEventListener("click", () => {
        popup.style.display = "none";
        document.body.style.overflow = "";
    });

    popup.addEventListener("click", (e) => {
        if (e.target === popup) {
            popup.style.display = "none";
            document.body.style.overflow = "";
        }
    });
        </script>

    </main>

