@{
    ViewBag.Title = "PrivacyPolicy";
    Layout = "~/Views/Shared/_LayoutEUMaster.cshtml";
}

@section MetaSection{
<title>Privacy Policy | Back Forty Glamping</title>
    <meta name="description" content="Click here to view the Back Forty Glamping Website Privacy Policy"/>
}
    <span id="MenuId" style="display: none;">privacy-policy</span>

    <main>
        <section title="Back Forty Road Sign" class="hero-banner" style="background: url('../../assets/images/back-forty-road-sign.webp');"></section>
        <div class="banner-bottomdesign">
            <img src="../../assets/images/banner-bottomdesign.webp" class="img-fluid w-100 h-100" alt="banner-bottomdesign" loading="lazy">
        </div>

        <section class="mainsec pb-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-heading privacy-content mb-0">
                            <h1 class="mb-2">Privacy Policy</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="px-lg-5 px-md-4 px-3 pb-5 ">
            <div class="container-fluid CTAAeminities privacypolicypage mt-md-5 mt-4">
                <div class="row h-100 pb-lg-4">

                    <div class="col-lg-4 py-lg-5 pb-3 text-left">
                        <div class="privacy_table_content pt-lg-0 pt-4">
                            <h2 class="m-auto">
                                <a title="Table Of Content blue_color" class="" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    Table Of Contents
                                </a>
                            </h2>
                            <div class="collapse" id="collapseExample">
                                <div class="pt-4">
                                    <strong><a title="Back Forty Glamping  and Cookies Statement" href="#back-forty-glamping-and-cookies-statement" class="link">Back Forty Glamping  Privacy and Cookies Statement</a></strong>
                                    <ul>
                                        <li>
                                            <a title="Privacy Policy Overview" href="#Privacy-Policy-Overview" class="link">Privacy Policy Overview</a>
                                            <ul class="ps-0">
                                                <li><a title="Protecting Your Information" href="#Protecting-Your-Information" class="link">Protecting Your Information</a> </li>

                                                <li><a title="What Information Is Collected About You? How Do We Use It?" href="#What-Information-Is-Collected-About-You" class="link">What Information Is Collected About You? How Do We Use It?</a></li>
                                                <li><a title="Information Collected On The Site May Be Used To" href="#Information-Collected-On-The-Site-May-Be-Used-To" class="link">Information Collected On The Site May Be Used To</a></li>
                                            </ul>
                                        </li>
                                        <li><a title="Exceptions To The Privacy Policy" href="#Exceptions-To-The-Privacy-Policy" class="link">Exceptions To The Privacy Policy</a></li>
                                        <li>
                                            <a title="Withdrawing Consent To Use" href="#Withdrawing-Consent-To-Use" class="link">Withdrawing Consent To Use</a>
                                            <ul class="ps-0">
                                                <li><a title="GDPR" href="#GDPR" class="link">GDPR</a></li>
                                                <li><a title="Children’s Privacy &amp; Parental Consent" href="#Children-Privacy-and-Parental-Consent" class="link">Children’s Privacy &amp; Parental Consent</a></li>
                                                <li><a title="Links Provided To Other Sites" href="#Links-Provided-To-Other-Sites" class="link">Links Provided To Other Sites</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a title="Information On Use Of Cookies And Similar Technologies" href="#Information-On-Use-Of-Cookies-And-Similar-Technologies" class="link">Information On Use Of Cookies And Similar Technologies</a>
                                            <ul class="ps-0">
                                                <li>
                                                    <a title="Processing In The Context Of Visiting Our Websites" href="#Processing-in-the-Context-of-Visiting-our-Website" class="link">Processing In The Context Of Visiting Our Websites</a>
                                                    <ul class="ps-0">
                                                        <li><a title="Information We Collect" href="#Information-We-Collect" class="link">Information We Collect</a></li>
                                                        <li><a title="Cookies, Analysis And Tracking" href="#Cookies-Analysis-And-Tracking" class="link">Cookies, Analysis And Tracking</a></li>
                                                        <li><a title="Types Of Cookies" href="#Types-of-Cookies" class="link">Types Of Cookies</a></li>
                                                        <li><a title="Cookie Functions" href="#Cookie-Functions" class="link">Cookie Functions</a></li>
                                                        <li><a title="Required Cookies" href="#Required-Cookies" class="link">Required Cookies</a></li>
                                                        <li><a title="Functionality Cookies" href="#Functionality-Cookies" class="link">Functionality Cookies</a></li>
                                                        <li><a title="Targeting / Advertising Cookies" href="#Targeting-Advertising-Cookies" class="link">Targeting / Advertising Cookies</a></li>
                                                        <li><a title="Cookie Consent" href="#Cookie-Consent" class="link">Cookie Consent</a></li>
                                                        <li><a title="Data Retention And Deletion" href="#Data-Retention-and-Deletion" class="link">Data Retention And Deletion</a></li>
                                                        <li><a title="Use Of Analytics" href="#Use-of-Analytics" class="link">Use Of Analytics</a></li>
                                                        <li><a title="Disabling and Opt-Out" href="#Disabling-and-Opt-Out" class="link">Disabling and Opt-Out</a></li>
                                                        <li><a title="Use Of Aggregated Data" href="#Use-Of-Aggregated-Data" class="link">Use Of Aggregated Data</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a title="Information On Other Processing Operations" href="#Information-on-Other-Processing-Operations" class="link">Information On Other Processing Operations</a>
                                                    <ul class="ps-0">
                                                        <li><a title="Processing In The Context Of Newsletters" href="#Processing-In-The-Context-Of-Newsletters" class="link">Processing In The Context Of Newsletters</a></li>
                                                        <li><a title="Processing In The Context Of Registration Or Use Of The Contact Form" href="#Processing-In-The-Context-Of-Registration-Or-Use Of-The-Contact-Form" class="link">Processing In The Context Of Registration Or Use Of The Contact Form</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a title="Information On (Categories Of) Recipients" href="#Information-on-Recipients" class="link">Information On (Categories Of) Recipients</a>
                                                    <ul class="ps-0">
                                                        <li><a title="Operation Of Website By Digital Hospitality" href="#Operation-Of-Website-By-Digital-Hospitality" class="link">Operation Of Website By Digital Hospitality</a></li>
                                                        <li><a title="General Information On Recipients, Categories of Recipients and Transfers" href="#General-Information-On-Recipients-Categories-of-Recipients-and-Transfers" class="link">General Information On Recipients, Categories of Recipients and Transfers</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a title="Information On Retention Periods" href="#Information-on-Retention-Periods" class="link">Information On Retention Periods</a>
                                            <ul class="ps-0">
                                                <li><a title="General Information On Retention Periods And Anomymization" href="#General-Information-on-Retention-Periods-and-Anonymization" class="link">General Information On Retention Periods And Anomymization</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a title="Information On Data Subject Rights" href="#Information-on-Data-Subject-Rights" class="link">Information On Data Subject Rights</a>
                                            <ul class="ps-0">
                                                <li><a title="California Residents – Your Privacy Rights" href="#California-Residents-Your-Privacy-Rights" class="link">California Residents – Your Privacy Rights</a></li>
                                                <li>
                                                    <a title="European Users’ Rights With Respect To Personal Data" href="#European-Users-Rights-with-Respect-to-Personal-Data" class="link">European Users’ Rights With Respect To Personal Data </a>
                                                    <ul class="ps-0">
                                                        <li><a title="Right Of Access And Information (Art. 15 Of The GDPR)" href="#Right-of-Access-and-Information" class="link">Right Of Access And Information (Art. 15 Of The GDPR)</a></li>
                                                        <li><a title="Right To Rectification (Art. 16 Of The GDPR)" href="#Right-to-Rectification" class="link">Right To Rectification (Art. 16 Of The GDPR)</a></li>
                                                        <li><a title="Right To Be Forgotten (Art. 17 Of The GDPR)" href="#Right-to-be-Forgotten" class="link">Right To Be Forgotten (Art. 17 Of The GDPR)</a></li>
                                                        <li><a title="Right To Restriction Of Processing (Art. 18 Of The GDPR)" href="#Right-to-Restriction-of-Processing" class="link">Right To Restriction Of Processing (Art. 18 Of The GDPR)</a></li>
                                                        <li><a title="Right To Data Portability (Art. 20 Of The GDPR)" href="#Right-to-Data-Portability" class="link">Right To Data Portability (Art. 20 Of The GDPR)</a></li>
                                                        <li><a title="Right Of Objection (Art. 21(1) Of The GDPR)" href="#Right-of-Objection" class="link">Right Of Objection (Art. 21(1) Of The GDPR)</a></li>
                                                        <li><a title="Right OF Objection To Direct Marketing (Art. 21(2) Of The GDPR)" href="#Right-of-Objection-to-Direct-Marketing" class="link">Right OF Objection To Direct Marketing (Art. 21(2) Of The GDPR)</a></li>
                                                        <li><a title="Automated Decisions (Art. 22 Of The GDPR)" href="#Automated-Decisions" class="link">Automated Decisions (Art. 22 Of The GDPR)</a></li>
                                                        <li><a title="Guarantees" href="#Guarantees" class="link">Guarantees</a></li>
                                                        <li><a title="Consents" href="#Consents" class="link">Consents</a></li>
                                                        <li><a title="Right To Lodge A Complaint" href="#Right-to-Lodge-a-Complaint" class="link">Right To Lodge A Complaint</a></li>
                                                        <li><a title="Contact" href="#Contact" class="link">Contact</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a title="Changes To This Privacy Statement" href="#Changes-To-This-Privacy-Statement" class="link">Changes To This Privacy Statement</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 pt-lg-5 pt-3 text-left">
                        <h2 id="back-forty-glamping-and-cookies-statement" class="border-none f-40">Back Forty Glamping Privacy and Cookies Statement</h2>
                        <hr class="heading-b-border">
                        <p>In this Privacy Statement we, <strong> Back Forty Glamping </strong> inform you about how we process and use personal data and on the specific rights you have in connection with your personal data.</p>
                        <h2 id="Privacy-Policy-Overview">Privacy Policy Overview</h2>
                        <h3 id="Protecting-Your-Information">Protecting Your Information</h3>
                        Our business is committed to safeguarding your privacy while visiting the website, namely,<a href="https://www.backfortyglamping.com/" title="https://www.backfortyglamping.com/"> https://www.backfortyglamping.com/.</a> our goal is to provide you with an internet experience that delivers the information, resources and services that are most relevant to you. To achieve this goal, part of the operation of the site includes the gathering of certain types of information about site users. Because we understand that your privacy is important, we wish to explain the types of information we gather and the way in which we use it.
                        <p></p>
                        We would like our Site visitors to feel confident about using the Site to plan and purchase their accommodations, so we are committed to protecting the information we collect. We have implemented a security program with a web design and maintenance firm to keep information that is stored in our systems protected from unauthorized access.
                        <p></p>
                        Our Site is hosted in a secure environment. The Site servers/systems are configured with data encryption, or scrambling, technologies, and industry-standard firewalls. If you enter personal information on the site or during a customer email sign-up, your data is protected by Secure Socket Layer (SSL) technology to ensure safe transmission.
                        <p></p>

                        <h3 id="What-Information-Is-Collected-About-You">What Information Is Collected About You<span class="font-s">?</span> How Do We Use It<span class="font-s">?</span></h3>
                        We take the utmost care to ensure that the personal information we obtain from you is not used in a way that you may be unaware of or not agreeable to. You may wish to submit an information request about our organization or subscribe to our e-mail or postal mail lists. In response, we may ask for information such as your name and postal address. In the event you opt to provide us with this information, we will only use it for the purpose specified by you at the bottom of the information gathering form.
                        <p></p>
                        <h3 id="Information-Collected-On-The-Site-May-Be-Used-To">Information Collected On The Site May Be Used To</h3>
                        <ul>
                            <li>Enter your email in our educational newsletter </li>
                            <li>Send marketing communications or surveys to you</li>
                            <li>Respond to your questions or suggestions</li>
                            <li>Improve the quality of your visit to our site</li>

                        </ul>
                        <p></p>
                        All forms will provide an opt-out button to allow you to choose not to participate in lists and future online marketing. In deciding whether or not to join such lists, please note that they are only used for the intended purposes of education and insights. We do not sell, rent or share any of your personal information with any other party including any third-party joint promoters, nor use it for unapproved commercial purposes. You may request to be removed from our lists at any time. All emails distributed to our lists will contain easy, online access to unsubscribe.
                        <p></p>
                        <h2 id="Exceptions-To-The-Privacy-Policy">Exceptions To The Privacy Policy</h2>
                        Our business has two exceptions to these limits on use of personal information: Back Forty Glamping may monitor and, when we believe in good faith that disclosure is required, disclose information to protect the security, property, assets and/or rights of the business from unauthorized use, or misuse, of the Site or anything found at the Site.
                        <p></p>
                        Back Forty Glamping may disclose information when required by law; however, only to the extent necessary and in a manner that seeks to maintain the privacy of the individual.
                        <p></p>
                        <h2 id="Withdrawing-Consent-To-Use">Withdrawing Consent To Use</h2>
                        If, after permitting use of your personal information, you later decide that you no longer want Back Forty Glamping to include you on its mailing list or otherwise contact you or use your personal information in the manner disclosed in this Privacy Policy or at the Site, simply tell us by sending an e-mail to  <a href="mailto:info@backfortyglamping.com" title="info@backfortyglamping.com">info@backfortyglamping.com</a>, or by clicking on the “unsubscribe” button at the bottom of our email communication to you.
                        <p></p>
                        <h3 id="GDPR">GDPR</h3>
                        The GDPR is a data privacy law adopted by the European Union that governs how companies collect, use, share and store information about data subjects. It applies not only to companies located in the European Union, but also to companies outside of the European Union if they “offer goods or services” in the European Union.
                        <p></p>
                        You have a number of rights under the GDPR, including the right to be forgotten (also known as “erasure” or the “right to be deleted”), the right to have access to the data that a company keeps about them, the right to modify the data that a company may have about them, and the right to portability, which means that you can us to export to you. the data we have about you.
                        <p></p>
                        <h3 id="Children-Privacy-and-Parental-Consent">Children<span class="font-s">'</span>s Privacy <span class="font-s">&amp;</span> Parental Consent</h3>
                        Please be aware that the business has not designed this site for and does not intend for it to be used by, anyone under age 18. Accordingly, this website should not be used by anyone under age 18. Our privacy policy prohibits us from accepting users who are under the age of 18.
                        <p></p>
                        Back Forty Glamping specifically requests that persons under the age of 18 not use this site or submit or post information to the site. Should the business inadvertently acquire personal information or other data from users under the age of 18, we will not knowingly provide this data to any third party for any purpose whatsoever, and any subsequent disclosure would be due to the fact the user under age 18 used the site and submitted personal information without solicitation by or permission from Back Forty Glamping.

                        <p></p>
                        <h3 id="Links-Provided-To-Other-Sites">Links Provided To Other Sites</h3>
                        Our business may provide links to a number of other web sites that we believe might offer you useful information and services. However, those sites may not follow the same privacy policies as us. Therefore, we are not responsible for the privacy policies or the actions of any third parties, including without limitation, any web site owners whose sites may be reached through this Site, nor can we control the activities of those web sites. We urge you to contact the relevant parties controlling these sites or accessing their online policies for the relevant information about their data collection practices before submitting any personal information or other sensitive data.
                        <p></p>
                        <h2 id="Information-On-Use-Of-Cookies-And-Similar-Technologies">Information on Use of Cookies and Similar Technologies</h2>
                        <h3 id="Processing-in-the-Context-of-Visiting-our-Website">Processing in the Context of Visiting our Website</h3>
                        <h4 id="Information-We-Collect">Information We Collect</h4>
                        When you visit our website, our web server will temporarily record the domain name or IP address of the requesting computer, the access date, the file request of the client (file name and URL), the HTTP response code and the website from which you are visiting us, the number of bytes transferred during the connection and, if applicable, other technical information that we use and statistically evaluate for the technical implementation of the website’s use (delivery of the content, guaranteeing the website’s functionality and security, protection against cyberattacks and other abuses).
                        <p></p>
                        It is necessary to store and process the information referred to above for the duration of your session in order to deliver our website content to your computer. We also store some of this information in the log files of our servers. We will not combine this information with your IP address or other personal data relating to you except as disclosed below.
                        <p></p>
                        This processing will take place for the fulfilment of the existing contract of use with you, as far as it serves the purpose of the technical implementation of the website’s use and to otherwise protect our legitimate interest in making our website as user-friendly, safe and attractive as possible and in promoting the sale of our products and services. We will assume that your interests do not conflict with this, because the measures described below are taken in order to limit processing to an appropriate degree.
                        <p></p>
                        We will also use the data described above to draw conclusions about your interests from your use and to adapt our website’s offerings according to your interests (profiling) in order to make our website as user-friendly, safe and attractive as possible and thus promote the sale of our products and services. We do this for the preservation of our aforementioned legitimate interests and, where applicable, on the basis of your consent as described below. For further information please refer to the following Section.
                        <p></p>
                        <h4 id="Cookies-Analysis-And-Tracking">Cookies<span class="font-s">,</span> Analysis and Tracking</h4>
                        We use cookies, among other things, to process the data mentioned in the preceding section. Cookies are files that are stored on your computer's hard drive and are accessed by our server when you visit our website.
                        <p></p>
                        We use cookies and the analysis described in the preceding Section for the purposes set forth in in the preceding Section and for the preservation of our legitimate interest described therein and, where applicable, on the basis of your consent as described in below.
                        <p></p>
                        <h4 id="Types-of-Cookies">Types of Cookies</h4>
                        There are two different types of cookies used:
                        <ul>
                            <li><strong>Session Cookies</strong>: Also called transient cookies, are cookies that are temporarily stored in your browser for the duration of a browser session, and they typically will store information in the form of a session identification and no further information personally identifying you.</li>
                            <li><strong>Persistent Cookies</strong>: Also called permanent or stored cookies, are cookies that are stored on your hard drive until they expire (persistent cookies are set with expiration dates) or until you delete the cookie. Persistent cookies are used to collect identifying information, such as web surfing behavior or user preferences for a specific web site.</li>
                        </ul>
                        We employ the following types of cookies:
                        <ul>
                            <li>Required Cookies</li>
                            <li>Functionality Cookies</li>
                            <li>Targeting / Advertising Cookies.</li>
                        </ul>
                        These cookies are a mixture of first party cookies, which we set ourselves, and third-party cookies, which are set by other websites.
                        <p></p>
                        <h4 id="Cookie-Functions">Cookie Functions</h4>
                        We use cookies across our websites to improve their performance and enhance your user experience. Cookies are used to provide the following functions:
                        <ul>
                            <li><strong>Personalization:</strong> For example, your language preference is remembered.</li>
                            <li><strong>Session Management</strong>: To ensure that your session is routed to the correct system for the duration of your visit.</li>
                            <li><strong>Usage Tracking</strong>: We use cookies to provide analysis of our users’ on-going usage of the website. This allows us to adapt our website’s offerings according to our users’ interests and facilitates on-going improvements to the website.</li>
                            <li><strong>AB Testing / Multivariate Testing</strong>: We can display multiple versions of a page to a user to assess which generates the best user experience.</li>
                            <li><strong>Advertising</strong>: We can display advertising content depending on location, language, and your past browsing history.</li>
                        </ul>
                        <h4 id="Required-Cookies">Required Cookies</h4>
                        We use a number of cookies which are strictly necessary to allow you to access our websites, to move between pages and to receive services which you have requested. The types of data collected are:
                        <ul>
                            <li>session identifier</li>
                            <li>IP address, and information generated from anonymized IP address that includes</li>
                            <li>a computer host name</li>
                            <li>geographic location</li>
                            <li>time of visit</li>
                            <li>webpage URL</li>
                            <li>referring website</li>
                            <li>security tokens (for authentication and information submission, like RFP forms)</li>
                        </ul>
                        The following is an example of a strictly necessary cookie which we use:
                        <ul>
                            <li>Authentication Cookies: Provide an authentication method of a secure log-in.</li>
                        </ul>
                        <h4 id="Functionality-Cookies">Functionality Cookies</h4>
                        We use functionality cookies to allow us to remember your preferences. For example, cookies save you the trouble of selecting your language or currency every time you access the website and recall your customization preferences.
                        <p></p>
                        We utilize other cookies to analyze how our visitors use our websites and to monitor website performance. This allows us to provide a high-quality experience by customizing our offering and quickly identifying and fixing any issues that arise. For example, we might use performance cookies to keep track of which pages are most popular, which method of linking between pages is most effective, and to determine why some pages are receiving error messages.
                        <p></p>
                        <h4 id="Targeting-Advertising-Cookies">Targeting <span class="font-s">/</span> Advertising Cookies</h4>
                        We and our partners and advertisers use cookies to display advertisements that we believe are relevant to you and your interests.
                        <p></p>
                        We allow certain third-party advertisers and partners to collect information about your use of the website through first and third-party cookies in order to serve adverts to you. They may also analyze this data in order to serve adverts to you on other third-party websites.
                        <p></p>
                        We also work with advertisers in order to display our advertisements on third party websites, based on cookies set on your visit to this website. Advertising/targeting cookies may also be used to track your responses to particular adverts, which helps advertisers ensure that you see the most relevant advertisements in future on third party websites.
                        <p></p>
                        The following is an example of a targeting/advertising cookie which we use:
                        <ul>
                            <li><strong>DoubleClick</strong>: These cookies may also be used by advertisers to allow third parties to serve advertisements to you when you are on other sites. These ads may be adapted to be relevant to you based on your use of the website. This is done on an anonymized basis, using non-personally identifiable information.  </li>
                        </ul>
                        The types of data used include online identifiers, including cookie identifiers, IP addresses and device identifiers, imprecise location data (based on your IP address) or precise location data (if you have set your system to allow transmission of geolocation information), and client identifiers.
                        <p></p>
                        Types of targeting enacted based on cookies include:
                        <ul>
                            <li><strong>Demographics:</strong> Target ads based on how well products and services trend with users in certain locations, ages, genders, and device types.</li>
                            <li><strong>In-market:</strong> Show ads to users who have been searching for products and like-services.  </li>
                            <li><strong>Custom intent audiences:</strong> Choose words or phrases related to the people that are most likely to engage with sites and make purchases by using "custom intent audiences." </li>
                            <li><strong>Similar audiences:</strong> Target users with interests related to those on remarketing lists. </li>
                            <li><strong>Remarketing:</strong>Target users that have already interacted with our ads, website, or app.</li>
                        </ul>
                        We do not control the information collected by such partners or advertiser in connection with our website or the further use of information we may provide to them for the aforementioned services, and they do not process such data on our behalf. Only the data protection policies of those third parties as the respective controllers of such data will apply to their processing of such data.
                        <p></p>
                        Please see the following sites for more information about specific advertisers and their data policies: [links to advertiser sites and data policies]
                        <p></p>
                        <h4 id="Cookie-Consent">Cookie Consent</h4>
                        When you visit our website from a location within the European Union, you are notified of the use of cookies for tracking and analysis and asked to provide your express consent. The notice makes reference to the detailed explanations in this Privacy Statement.
                        <p></p>
                        You can prevent or restrict the storage of cookies on your hard disk by setting your browser not to accept cookies or to request your permission before setting cookies. Once cookies have been set, you can delete them at any time. Please refer to your browser's operating instructions to find out how this works. If you do not accept cookies, this can lead to restrictions in the use of our service.
                        <p></p>
                        <h4 id="Data-Retention-and-Deletion">Data Retention and Deletion</h4>
                        Log files are deleted after 790 days. Session cookies expire and are deleted at the end of your browser session. Persistent cookies may be set to expire from 30 days to 1 year depending on the function of the cookie. After expiry of those periods information will be deleted or made anonymous.
                        <p></p>
                        <h4 id="Use-of-Analytics">Use of Analytics</h4>
                        Our website uses Google Analytics, a web analysis service of Google.You can find further information on how Google Analytics uses information from sites or apps that use its services here:<a href="https://analytics.google.com/analytics/web/" class="link" title="https://analytics.google.com/analytics/web/" target="_blank">https://analytics.google.com/analytics/web/</a>
                        <p></p>
                        Google Analytics uses so-called “cookies”, which are text files placed on your computer, to help the website analyse how users use the site. The information generated by the cookie about your use of this website such as
                        <p></p>
                        <ul>
                            <li>browser type and version,</li>
                            <li>operating system of your computer,</li>
                            <li>referrer URL (i.e. the page last visited),</li>
                            <li>host name of accessing computer (IP address),</li>
                            <li>date and time of server request</li>
                        </ul>
                        <h4 id="Disabling-and-Opt-Out">Disabling and Opt<span class="font-s">-</span>out<span class="font-s">:</span></h4>
                        You may refuse the use of cookies by selecting the appropriate settings on your browser, however, please note that if you do this you may not be able to use this website’s full functionality. You can also prevent Google from collecting the data generated by the cookie and relating to your use of the website (including your IP address), from processing this data by following these instructions:<a href="https://analytics.google.com/analytics/web/" class="link" title="https://analytics.google.com/analytics/web/" target="_blank">https://analytics.google.com/analytics/web/</a>
                        <p></p>
                        <h4 id="Use-Of-Aggregated-Data">Use Of Aggregated Data</h4>
                        Back Forty Glamping is interested in improving the Site and may develop and offer new features and services. We monitor aggregated data regarding use of the Site for marketing purposes and to study, improve and promote use of the Site. In connection with such purposes, Back Forty Glamping may share aggregated data with third parties collectively and in an anonymous way. Disclosure of aggregated data does not reveal personal information about individual Site users in any way that identifies who they are or how to contact them.

                        <p></p>
                        <h3 id="Information-on-Other-Processing-Operations">Information on Other Processing Operations</h3>
                        <h4 id="Processing-In-The-Context-Of-Newsletters">Processing in the Context of Newsletters</h4>
                        If you register via our website or by other means to receive electronic newsletters, we will store and process your registration data (the registration form will show you which registration data we collect and store and whether entries are mandatory or voluntary) for an unlimited period of time until you unsubscribe or we cancel the newsletter dispatch in order to fulfil the existing contract with you for the receipt of the newsletter. The IP address assigned to you by the internet service provider (ISP), and the date and time of registration will also be stored when you register. The purpose of this is to protect our legitimate interest in preventing and, if necessary, prosecuting misuse of our services. In addition, we will store and process your consent to receive the newsletter for the retention period specified below. This serves to protect our legitimate interest in being able to prove in the event of a dispute that you wished to receive the newsletter.
                        <p></p>
                        After termination of your registration for the receipt of newsletters, we will retain the registration data, the IP address, date and time of registration and your consent for up to six months. This serves to protect our legitimate interest in being able to restore this data in the event of unintentional deletion; or in establishing, exercising or defending legal claims in connection with the registration for, and consent to, receipt of newsletters. We will assume that your interests do not conflict with this, because the retention period is appropriate with respect to the interests to be protected.
                        <p></p>
                        The registration for our newsletter takes place in a so-called double opt-in procedure. This means that after registration you will receive an email asking you to confirm your registration. This confirmation is necessary to prevent unauthorized use of your e-mail address by another person.
                        <p></p>
                        <h4 id="Processing-In-The-Context-Of-Registration-Or-Use Of-The-Contact-Form"><em>Processing in the Context of Registration or Use of the Contact Form</em></h4>
                        If you register on our website and create a user account (the registration form will show you which registration data we collect and store and whether entries are mandatory or voluntary), all personal data collected in connection with this user account will be stored in this user account until you request to delete the user account or until we cancel the user account for the performance of our contractual relationship on use of the respective website or web service. The IP address assigned to you by your internet service provider (ISP), and the date and time of registration will also be stored when you register. The purpose of this is to protect our legitimate interest in preventing and, if necessary, prosecuting misuse of our services
                        <p></p>
                        After de-registration of your user account, we will retain all data for up to six months. This serves to protect our legitimate interest in being able to restore this data in the event of unintentional deletion; or in establishing, exercising or defending legal claims in connection with our contractual relationship. We will assume that your interests do not conflict with this because the retention period is appropriate with respect to the interests to be protected.
                        <p></p>
                        Our website contains a contact form which you can use to submit communications to us. When submitting information through the contact form, you are required to enter certain information which we will use for responding to your request. The contact form enables you to submit additional information on a voluntary basis.
                        <p></p>
                        If you provide us with personal data via the user account or the contact form for a purpose beyond the use of the website or respective web service, such as sending us an offer or product information, we will also store and process this data for this purpose. In order to find more information on how we store and process such data, you will need to refer to the Section of this Privacy Statement that is pertinent to the respective purpose.
                        <p></p>
                        <h3 id="Information-on-Recipients">Information on <span class="font-s">(</span>Categories of<span class="font-s">)</span> Recipients</h3>
                        <h4 id="Operation-Of-Website-By-Digital-Hospitality"><em>Operation of Website By Digital Hospitality</em></h4>
                        Our website is operated on our behalf by Digital Hospitality, 201 - 110 Cambie Street, Vancouver BC. We have concluded a contract processing agreement with Digital Hospitality to ensure that the website is operated, and personal data is processed, only on our behalf and in accordance with our instructions.
                        <p></p>
                        <h4 id="General-Information-On-Recipients-Categories-of-Recipients-and-Transfers"><em>General Information on Recipients<span class="font-s">,</span> Categories of Recipients and Transfers</em></h4>
                        All of our servers and databases may be operated, maintained or further developed by additional processors or other contractors. They may have access to your data.
                        <p></p>
                        Where we store and process data for the performance of contracts, we may pass these data on to agents and contractors we employ for such performance (e.g. to carriers for transportation purposes).
                        <p></p>
                        Where we store and process data for communication with you, we may use additional processors or contractors in order to process or transmit electronic or paper correspondence with you (e.g. letter shops, mailing service providers), who will then have access to your data.
                        <p></p>
                        We will transfer your personal data to competent law enforcement, regulatory or other authorities, institutions or bodies if we are legally obligated to do so or if we have a legitimate interest in averting coercive measures of such authorities, institutions or bodies within the scope of their legal responsibilities. Such legally required or necessary transmissions are not the subject of this Privacy Statement.
                        <p></p>
                        <h2 id="Information-on-Retention-Periods">
                            Information on Retention Periods
                        </h2>
                        <h3 id="General-Information-on-Retention-Periods-and-Anonymization">General Information on Retention Periods and Anonymization</h3>
                        We have enacted a data retention and deletion policy in order to ensure that personal data are only stored for as long as necessary for their purpose.
                        <p></p>
                        Our data retention and deletion policy takes into account the principle that personal data should be retained for limited periods even after the storage purpose has become obsolete, in order to preserve our legitimate interest in preventing unintentional deletions, in enabling the establishment, exercise or defense of legal claims and in rendering the administration of retention and deletion periods practicable. We assume that your interests do not conflict with this, because these additional retention periods are appropriate with respect to the interests to be protected.
                        <p></p>
                        Unless detailed information on deletion periods has already been provided above, the following general deletion periods will apply in accordance with our data retention and deletion policy.Where data fall under several different deletion periods, the longest will always apply:
                        <p></p>
                        We will retain customer data for the duration of the customer relationship. After the end of the customer relationship such data will continue to be retained for as long as these data are necessary for the maintenance of the customer account and for the administration of documents or data relating to the customer which fall into any of the categories identified herein below. Otherwise customer data will be deleted after expiry of 1 year.
                        <p></p>
                        For compliance with the statutory retention period for commercial letters and tax documents we will retain correspondence, invoices, and other booking documentation for 7 years.
                        <p></p>
                        We will retain contract-related data and documents for 7 years after the end of the contractual relationship in view of the statutory limitation period for claims and statutory document retention obligations for booking receipts.
                        <p></p>
                        If the term “erasure” or "deletion" is used in this Privacy Statement, we reserve the right to anonymize the relevant data record, such that it can no longer be assigned to you, instead of complete deletion.
                        <p></p>
                        Anonymized data may be processed and used by us and our processors for an unlimited period. The processing and use of anonymized data is not subject to the GDPR and is not the subject of this Privacy Statement.
                        <p></p>
                        <h2 id="Information-on-Data-Subject-Rights">Information on Data Subject Rights</h2>
                        <h3 id="California-Residents-Your-Privacy-Rights">California Residents <span class="font-s">–</span> Your Privacy Rights</h3>
                        Under California Civil Code Section 1798.83, California residents who provide us with personal information in obtaining products or services for personal, family, or household use are entitled to request and obtain from us one time per calendar year information about the customer information we shared, if any, with other businesses for their own direct marketing uses. If applicable, this information would include the categories of customer information and the names and addresses of those businesses with which we shared customer information for the immediately prior calendar year.
                        <p></p>
                        To obtain this information from us, please send your request to the following address: <a href="https://www.oag.ca.gov/privacy" class="link" title="https://www.oag.ca.gov/privacy" target="_blank"> https://www.oag.ca.gov/privacy</a>
                        <p></p>
                        You must put the statement "Your California Privacy Rights" in the subject field of your writing if you write to us at the designated mailing address. You must include your name, street address, city, state, and zip code. We will respond to you within 30 days at your mailing address, or at our option, at your e-mail address if you provide it to us. We are not responsible for notices that are not labeled or sent properly, or do not have complete information.
                        <p></p>
                        <h3 id="European-Users-Rights-with-Respect-to-Personal-Data">European Users<span class="font-s">’</span> Rights with Respect to Personal Data</h3>
                        You as the data subject have certain rights with regard to your personal data, which we will explain to you below:
                        <p></p>
                        <h4 id="Right-of-Access-and-Information">Right of Access and Information <span class="font-s">(</span>Art<span class="font-s">.</span> 15 of the GDPR<span class="font-s">)</span></h4>
                        You have the right, where the statutory requirements are met, to request from us at any time, at no cost, confirmation as to whether personal data relating to you is being processed, a copy of this data and comprehensive information on this personal data. This right extends in particular, without limitation, to the purposes of processing, the categories of personal data being processed, the recipients, the storage period and the origin of the data.
                        <p></p>
                        <h4 id="Right-to-Rectification">Right to Rectification <span class="font-s">(</span>Art<span class="font-s">.</span> 16 of the GDPR<span class="font-s">)</span></h4>
                        You have the right to request us to rectify incorrect and incomplete personal data concerning you without delay, where the statutory requirements are met.
                        <p></p>
                        <h4 id="Right-to-be-Forgotten">Right to be Forgotten <span class="font-s">(</span>Art<span class="font-s">.</span> 17 of the GDPR<span class="font-s">)</span></h4>
                        You have the right to demand from us the immediate deletion of personal data concerning you, where the statutory requirements are met, if, among other reasons, their storage is no longer necessary or unlawful, if you withdraw your consent on which their storage was based, if you have validly objected to their storage in accordance with below Sections, if we are obligated to delete them for any other reason or if the data were collected as part of a web service. If we have made the data public, in addition to deletion of the data, we must also inform other controllers in such cases that you have requested the deletion of this data and all references thereto, insofar as this is reasonable in view of the available technology and the implementation costs. The above obligation does not apply in certain exceptional cases, in particular storage for the purpose of establishing, exercising or defending legal claims.
                        <p></p>
                        <h4 id="Right-to-Restriction-of-Processing">Right to Restriction of Processing <span class="font-s">(</span>Art<span class="font-s">.</span> 18 of the GDPR<span class="font-s">)</span></h4>
                        You have the right to request us, where the statutory requirements are met, to restrict the processing of personal data relating to you, for example if you dispute their accuracy, the storage is no longer necessary or is unlawful and you still do not wish to have it deleted or if you have filed an objection to the processing (see below) as long as it has not yet been established whether our legitimate reasons outweigh yours.
                        <p></p>
                        <h4 id="Right-to-Data-Portability">Right to Data Portability <span class="font-s">(</span>Art<span class="font-s">.</span> 20 of the GDPR<span class="font-s">)</span></h4>
                        If automated processing of personal data occurs solely on the basis of your consent or to fulfil a contract with you or to implement pre-contractual measures, you have the right to require us, subject to statutory requirements, to make available the personal data in relation to yourself that you have provided to you or to a third party you designate, if this is technically feasible, in a structured, current and machine-readable format and not to impede its transfer to a third party.
                        <p></p>
                        <h4 id="Right-of-Objection">Right of Objection <span class="font-s">(</span>Art<span class="font-s">.</span> 21<span class="font-s">(</span>1<span class="font-s">)</span> of the GDPR<span class="font-s">)</span></h4>
                        You have the right to require us, where the statutory requirements are met, to no longer process personal data relating to you which we process for the performance of a task which is in the public interest or for the protection of our legitimate interests or those of a third party, if you object to such processing for reasons which arise from your particular situation. In this case we must desist from further processing unless there are compelling grounds for processing which outweigh your interests or the processing is carried out for the establishment, exercise or defense of legal claims.
                        <p></p>
                        <h4 id="Right-of-Objection-to-Direct-Marketing">Right of Objection to Direct Marketing <span class="font-s">(</span>Art<span class="font-s">.</span> 21<span class="font-s">(</span>2<span class="font-s">)</span> of the GDPR<span class="font-s">)</span></h4>
                        You can object to the further processing of your personal data for direct marketing purposes at any time, and we will consequently refrain from processing them for this purpose. This also applies to profiling insofar as it is associated with such direct marketing.
                        <p></p>
                        <h4 id="Automated-Decisions">Automated Decisions <span class="font-s">(</span>Art<span class="font-s">.</span> 22 of the GDPR<span class="font-s">)</span></h4>
                        We will not make any decisions without your consent which produce legal effects concerning you or similarly significantly affect you and that are based exclusively on automated processing (including profiling).
                        <p></p>
                        <h4 id="Guarantees">Guarantees</h4>
                        To the extent that we indicate in this Privacy Policy that guarantees have been agreed to provide an adequate level of protection, you may request copies of the relevant documents from our designated representative within the EU.
                        <p></p>
                        <h4 id="Consents">Consents</h4>
                        If you consent to processing, this is voluntary, unless we inform you otherwise in advance, and the refusal of consent will not be sanctioned. You can withdraw your consent at any time. The withdrawal of consent shall not affect the lawfulness of processing based on consent before its withdrawal. Processing on a legal basis other than your consent will also be unaffected by such withdrawal. However, you may also exercise the above statutory rights in this respect (e.g. the right of objection as described above). In particular, you may withdraw any consent to the use of your e-mail address or telephone number for direct marketing at any time and may object to any further use of your e-mail address or telephone number for this purpose at any time, free of charge (other than communication costs payable to your provider).
                        <p></p>
                        <h4 id="Right-to-Lodge-a-Complaint">Right to Lodge a Complaint</h4>
                        You have the right to lodge a complaint with a supervisory authority. This may include, among others, the supervisory authority responsible for your place of residence or the supervisory authority generally responsible for our representative (See above).
                        <p></p>
                        <h4 id="Contact">Contact</h4>
                        Please send an email to  <a href="mailto:info@backfortyglamping.com" title="info@backfortyglamping.com"><b>info@backfortyglamping.com</b></a> to exercise any of the above rights. You may be required to identify yourself to us as a data subject to exercise your rights.
                        <p></p>
                        <h2 id="Changes-To-This-Privacy-Statement">Changes to this Privacy Statement</h2>
                        We reserve the right to modify the terms or conditions of this Privacy Policy or email practices at any time without prior notice or warning. Changes to this Privacy Policy will be made here on our "Privacy and Site Security" page. You should periodically revisit this Privacy Policy to see if any modifications have been made.
                        <p></p>
                        If we make material changes in our information and email collection and use practices, we will notify you by means of a notice on the Website home page.
                        <p></p>
                    </div>
                </div>
            </div>
        </section>


    </main>