@{
    ViewBag.Title = "Sitemap";
    Layout = "~/Views/Shared/_LayoutEUMasterSitemap.cshtml";
}
@section MetaSection{
    <title>Website Sitemap | Back Forty Glamping</title>
    <meta name="description" content="Click here to view the Back Forty Glamping Website Sitemap" />
}
<span id="MenuId" style="display: none;">sitemap</span>
<main>
    <section title="Back Forty Road Sign" class="hero-banner" style="background: url('../../assets/images/back-forty-road-sign.webp');"></section>

    <div class="banner-bottomdesign">
        <img src="../../assets/images/banner-bottomdesign.webp" class="img-fluid w-100 h-100" alt="banner-bottomdesign" loading="lazy">
    </div>
    <section class="mainsec contact-mainsec ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-heading sitemap-content">
                        <h1>Sitemap</h1>
                        <ul class="list-inline">
                            <li class=""><a href="/" title="Home">Home</a></li>
                            <li><a href="/domes" title="Domes">Domes</a></li>
                            <li><a href="/about" title="About">About</a></li>
                            <li><a href="/amenities" title="Amenities">Amenities</a></li>
                            <li><a href="/gallery" title="Gallery">Gallery</a></li>
                            <li><a href="/policies" title="Policies & Faq">Policies & Faq</a></li>
                            <li><a href="/dining" title="Dining">Dining</a></li>
                            <li><a href="/local-area" title="Local Area">Local Area</a></li>
                            <li><a href="/contact" title="Contact">Contact</a></li>
                            <li><a href="/privacy-policy" title="Privacy Policy">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>